[2017-04-06 01:08] hnm2 commented on #105
Hello, I'm new to the project and would like to start contributing. I thought this might be a good issue to start with. Could you help me by giving some directions? Thanks!

[2017-04-06 15:24] jtemporal commented on #105
Hi @hnm2 sure thing! It is awesome that you want to do this! We have a tl;dr of CEAP's "Ato de mesa" that is [here](https://github.com/datasciencebr/serenata-de-amor/blob/master/docs/CEAP.md), that is in Portuguese. That document was created so we could improve our understanding of the law that guides congresspeople reimbursements. It would be a good thing if we had an English version of if in a m

[2017-04-08 00:09] hnm2 commented on #105
Almost finished. By the way, which translation you use for "Deputado"? I looked at the code and found "congress person", but I'm not sure of it.

[2017-04-08 00:11] jtemporal commented on #105
This is awesome! We use, congress person for "deputado" and congress people for "deputados ;)

[2017-04-08 15:44] hnm2 commented on #105
Done!

[2017-04-10 14:28] marcusrehm commented on #16
Hey Guys! Just got the script fetching and saving the partners list. It's available at my [repo](https://github.com/marcusrehm/serenata-de-amor/tree/companies-partners-list). It's the same script but saving the data of partners, now I'm working to better handle the 429 error related with too many requests.

About the `429`error, I think Tor is not a good option as people need to install it apart f

[2017-04-11 16:34] jtemporal commented on #16
Yaay this is awesome! I believe you are about right on that approach, AFAIK the parallelism part was used so we could generate the dataset faster, right now if we remove de the parallelism and get it to work properly, we can think about parallelize it again later. =)

[2017-04-11 22:07] marcusrehm commented on #16
Cool @jtemporal ! I'm gonna do it this way then.

And about the file naming convention? Do you think that it is ok also?!

[2017-04-12 14:43] cuducos opened #213 "Use new dataset manager module to upload data to S3"
**If [PR #38 from the `serenata-toolbox`](https://github.com/datasciencebr/serenata-toolbox/pull/38) is merged** we can cleanup this repo using `boto3` instead of `tinys3`. The main reson why is:

[2017-04-13 01:12] cuducos commented on #16
Good points, @marcusrehm — I agree with you and @jtemporal on everything you've said. ABout the naming convention: we could have just `YYYY-MM-DD-companies.xz` I guess, addressing the partner names the same way we did with `secondary_activity_XX[_code_]`. Maybe the script wasn't versioning `companies.xz`, but we were doing it manually — it would be great to have it done automatically.

[2017-04-13 13:03] jtemporal commented on #16
Automate all the things o/    🎉

That's about right! Versioning was happening when the dataset was being uploaded to the S3.

[2017-04-15 20:29] marcusrehm commented on #16
Hey folks!

Got a new version of `fetch_cnpj_info.py` script [here](https://github.com/marcusrehm/serenata-de-amor/blob/companies-partners-list/src/fetch_cnpj_info.py).

I brought the threading back but with some improvements. Now we can pass as arguments how many threads to use and a list of http proxies, so each request uses a randomly chosen proxy from the list or none (use the local ip). The s

[2017-04-19 17:45] cuducos commented on #77
#187 has advanced a lot in this direction but either way [the analysis of frauds within _Family Allowance_ seems to be unfruitful](http://veja.abril.com.br/blog/radar-on-line/fraudadores-do-bolsa-familia-tinham-rendas-superiores-a-r-5-mil/) — so I'm closing this _issue_ I opened a couple of months ago. This doesn't mean it's useless — just that a) it's not a priority anymore and b) if anyone is st

[2017-04-19 17:45] #77 closed

[2017-04-21 03:54] fgrehm opened #214 "Update companies dataset"
Hey guys, the companies dataset is nearly 6 months old now and I've noticed that recent meal reimbursements include lots of new companies that can't be matched (something like 56901 meals out of 61757)

Would it be possible to release a new version of the CSV? Thanks in advance!

[2017-04-21 10:25] fabiocorreacordeiro opened #215 "Help to analise transportation graph"
Hi guys,
I am working in local transportation subquotas ('Taxi, toll and parking', 'Automotive vehicle renting or charter' and 'Fuels and lubricants'). When I sum all the expenses per month I found the graph below.
![ps4 fig 1](https://cloud.githubusercontent.com/assets/26165406/25273364/2a117a60-2694-11e7-95ad-cc636efee3d2.png)
Anyone know to explain why the expenses increase after 2014?

The sec

[2017-04-21 11:45] jtemporal commented on #214
Hey @fgrehm working on it ;)

[2017-04-21 12:06] cuducos commented on #214
Yep, @jtemporal and I were already worried about that when @marcusrehm noticed ReceitaWS was publishing the partner list of the companies (something that wasn't there when we first wrote the script). Once this is done we'll have a new dataset ; ) BTW discussion about that in #16

[2017-04-21 12:11] jtemporal opened #216 "Add guppy to requirements.txt"
`src/geocode_addresses.py` needs the `geopy` package which is not yet in the _requirements.txt_ and needs to be there.

geopy==1.11.0

[2017-04-21 12:18] cuducos commented on #216
No need for that: [it's already in `conda_requirements.txt`](https://github.com/datasciencebr/serenata-de-amor/blob/master/conda_requirements.txt#L2) ; )

Maybe try a `conda install --yes --file conda_requirements.txt`…

[2017-04-21 12:18] #216 closed

[2017-04-21 12:23] cuducos commented on #215
TBH IDK but there are some [monthly limits](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md#more-about-the-quota-for-exercising-parliamentary-activity-ceap), maybe this value is a kind of median of these limits… I think that a notebook sharing this analysis concluding with some questions is a valid contribution.

[2017-04-21 23:02] cuducos commented on #16
That's awesome!

🎉 Many thanks, @marcusrehm!

That's totally fine IMHO ; )

Sure thing. Once the PR is opened I can offer a proper code review, but in a quick look it looks as a very good improvement — again, many thanks for that.

Once you open the PR if you have a dataset generated you can add a link to it if you like ; )

[2017-04-22 17:17] fabiocorreacordeiro commented on #215
I am working in a notebook, but I did these analyses to my R Studio class. Do you think I need to change by Python Language?

I am studying better the CEAP legislation and its change since 2009. In the beginning, there was only limit for 'Fuels and lubricants', R$4,500. In December of 2013, the total CEAP value of each state was an 7% increase. Apparently, it increase affected the expenses with lo

[2017-04-22 20:19] cuducos commented on #215
This is very interesting, @fabiocorreacordeiro — many thanks.

Even if this isn't illegal _per se_ I think this is the kind of news that is worth it for the media. On the one hand we can call into question the legality of certain expenses, but on the other hand we can always call into question the morality — and comments such as this one are totally valid in this second sense:

I'd advise you to a

[2017-04-23 08:05] fabiocorreacordeiro commented on #215
Sure I agree!
I was thinking exactly the same thing about legality and morality. Even some expense was legal, but it was immoral, we can be able to deliver the complaint.
I will continue my work and any news I let you know.

[2017-04-25 00:14] jtemporal commented on #215
@fabiocorreacordeiro I would love to see this notebook of yours, whereas Rosie is strictly Python, you have all the freedom to make a PR with notebook written in R, as long as you make us (everyone contributing for the project) know what steps we need to make to reproduce the results ;)

I would recommend that you take a look at #130 it's a little long but it's worth the read on the matter of "how

[2017-04-25 08:23] fabiocorreacordeiro commented on #215
@jtemporal, thanks for the help, but I am already writing a notebook in Python with the main topics.
One thing that I discover in this review was why transportation had a jump in 2014. The subquota about rent cars and boat was one before 2014 and was split in two differents subquotas. In my analysis, I was missing the reimbursements before 2014.

[2017-04-26 17:38] jtemporal opened #217 "Update beautifulsoup4 version"
Conda requirements is trying to install beautifulsoup4 on version 4.4.1 and that is giving out an error while running the setup:

![photo_2017-04-26_14-09-53](https://cloud.githubusercontent.com/assets/6595551/25447881/30e3551e-2a8d-11e7-809d-92dab4b9a53f.jpg)
right now an appropriate version would be 4.5.3

[2017-04-27 23:44] marcusrehm commented on #16
Hey guys! It took more days than I thought but the PR #218 is there. When the dataset download finish I post the link here ok?

[2017-04-28 03:54] marcusrehm commented on #16
the link to download the dataset [https://we.tl/Zsw7zPhV6a](https://we.tl/Zsw7zPhV6a)

[2017-04-28 23:47] martini97 commented on #167
I would like to know specifically what is the idea in this issue. I've looked through some files in source, and some of then just download data, would you like the script to specify the path where the data is to be saved? Or would you like only for the scripts that read files to receive arguments? If it's the second case, i believe that the only file that still needs to be adapted is the [geocode_

[2017-04-29 01:23] cuducos commented on #167
Hi @martini97,

No, actually what would be interesting is to specify via command line the files they read ([as I commented earlier](https://github.com/datasciencebr/serenata-de-amor/issues/167#issuecomment-267440446)).

Well… files from `src/` that read other file:

- [ ]  `clean_cnpj_info_dataset.py`
- [ ] `fetch_civil_names.py`
- [ ]  `fetch_cnpj_info.py`
- [ ]  `fetch_federal_budget_datasets.py

[2017-04-29 02:51] marcusrehm commented on #167
Hi @martini97 ! I think what @cuducos suggested was commented [here](https://github.com/datasciencebr/serenata-de-amor/issues/67#issuecomment-267442575). He's asking to create a sort of mapping like it:
[code]

So when the script receive a file as argument it can grab data (CNPJs) from the referenced column and to the job.

It is already done in `fetch_cnpj_info.py` for the following datasets:
[co

[2017-04-29 05:17] cuducos commented on #167
👍

[2017-04-29 06:05] fabiocorreacordeiro commented on #215
Hi guys,
Yesterday I finished my notebook, but I not sure if the files were merged correctly. Could you check to me?
Anyway, I attached here the three file, py, html and ipynb.
I want to hear you about the suspicious reimbursements and what could be the next steps.

[2017-04-29-fabiocorreacordeiro-Local-Transportation.zip](https://github.com/datasciencebr/serenata-de-amor/files/965937/2017-04-29-f

[2017-04-29 11:47] jtemporal commented on #217
thanks to @sergiomario this one can be closed!

[2017-04-29 11:47] #217 closed

[2017-04-29 12:37] cauebs opened #222 "src/fetch_datasets.py integrated into toolbox, but still mentioned in docs"
The contribution guide still points to `src/fetch_datasets.py`, which was removed in 1604567f55c782874e9ee98f979f98cd3ab76d60. I'll be opening a pull request soon recreating the file, now containing just these two lines:

[code]

This way, the `setup` file can be changed to a bash script, only invoking python to run this new file on the last lines.

[2017-04-29 19:56] caiopo opened #224 "Using camara.leg.br API"
Hi,

@luipillmann and @cauebs found out that camara.leg.br has an [API](http://www2.camara.leg.br/transparencia/dados-abertos/dados-abertos-legislativo/webservices).

There are some scripts in `src/` that scrape the HTML for data available on the endpoint [obterDetalhesDeputado](http://www2.camara.leg.br/transparencia/dados-abertos/dados-abertos-legislativo/webservices/deputados/obterDetalhesDeput

[2017-04-29 21:17] cuducos commented on #224
Hi @caiopo — can you me more specific on this issue? What is exactly the idea/proposal? Refactor some scripts? Which ones? Add new ones?Cheers ; )

[2017-04-29 21:48] caiopo commented on #224
`src/fetch_civil_names.py` is one of the scripts that could be refactored, but all the data it fetches is also fetched by `fetch_congressperson_details.py` (#225), so it could be deleted (if we assure it won't break anything).

[2017-04-29 22:18] cuducos commented on #224
I'm not sure about deleting it: if someone want to replicate some analysis made with this script having it might be useful… or not. What do you think @irio? Can we delete a script that was replaced by another one that fetches more stuff? The first one fetched only civil names, the one from #225 fetches civil names, gender and more.

[2017-04-30 03:26] caiopo commented on #224
Can't we edit the notebooks to use the new script/dataset?

[2017-04-30 10:24] cuducos commented on #224
Sure, but then I would advise you to also rename the script (as fetch details might make me sense than fresh civil name after editing it)… that is to say: it will end up in the same situation…

[2017-05-02 01:31] michelpereira commented on #188
Hi, all. My recommendation is to run the API again because Google updated the version of API to v1.1 with new features for example [Document Text Detection](https://cloud.google.com/vision/docs/fulltext-annotations).

[2017-05-03 17:11] fgrehm commented on #188
@michelpereira yeah, tks for the heads up. That feature got released after I was done with this initial processing and I only found out about the new feature [while on the dataset documentation I have in the works](https://github.com/datasciencebr/serenata-de-amor/pull/207/files#diff-6c1664b52c3b4acbeb30c39e20d8ccacR50) 😄 I'm on a work trip right now but I'm going to wrap up that PR as soon as I'm

[2017-05-03 18:20] fabiocorreacordeiro commented on #215
@cuducos and @jtemporal ,
I am not sure if my notebook was merged, could you confirm to me?
If no, let me know.
Thanks

[2017-05-04 10:36] jtemporal commented on #215
@fabiocorreacordeiro The notebook in the zip file is part of #203 right? if so it was not merged yet.

[2017-05-04 18:44] fabiocorreacordeiro commented on #215
@jtemporal No, I wrote this notebook in "serenata-de-amor/develop" in my forked directory. I created a commitment, but the Github merged this commitment without a new pull request.
Or I am doing something wrong :)

[2017-05-04 18:56] fabiocorreacordeiro commented on #215
@jtemporal and @cuducos  Finally I created the Pull Request #228
I was doing something wrong ... ahahah

[2017-05-07 11:01] silviodc commented on #188
Hi guys,
After to analyze some data and to check the CEAP:
3. O documento que comprova o pagamento **não pode ter rasura, acréscimos, emendas ou entrelinhas**, deve conter data e **deve conter os serviços ou materiais descritos item por item, sem generalizações ou abreviaturas**

So, we have some data like that:
http://www.camara.gov.br/cota-parlamentar/documentos/publ/2398/2015/5635048.pdf

The p

[2017-05-08 14:39] cuducos opened #229 "Documents metadata"
Following the lead of a [Brazilian podcast](http://anticast.com.br/2017/05/anticast/anticast-286-quem-encomendou-a-reforma-trabalhista/) it looks like there are some lobbyists *directly* writing laws in Brazil: there are traces in documents metadata that sustains that the Chamber gets some files from these the lobby and just put them forward.

Not sure how far this can help in civic control of the

[2017-05-08 19:52] rodolfo-viana commented on #229
[According to The Intercept Brasil](https://theintercept.com/2017/04/26/lobistas-de-bancos-industrias-e-transportes-quem-esta-por-tras-das-emendas-da-reforma-trabalhista/), they discovered who was behind some amendments by checking the files' metadata:

I emailed one of the reporters a week ago to get more information about this process, but have got no responde so far.

[2017-05-09 08:45] Irio commented on #229
*I also sent an email to Breno Costa after listening to the podcast.* 🥇

Not sure if this can help us directly with the receipts, but with other analyses leveraging files generated by congresspeople and their advisors. Just in case, I used `exiftool` with a few receipts I randomly downloaded. At first glance, don't see anything useful in this metadata.

[code]

[2017-05-09 18:24] jtemporal commented on #215
@fabiocorreacordeiro PR commented ;)

[2017-05-09 23:07] fcevado commented on #229
@Irio afaik, they used the Author metadata(if it was created with a licensed application the author usually is the owner of the license). Depending on how the file was created this info is present.

[2017-05-09 23:12] fcevado commented on #229
just an example:
[code]

[2017-05-10 14:52] cuducos commented on #229
Yep — I think usefulness comes from picking up the right _examples_. I haven't thought of this as something useful for the receipts (as @Irio tried), but for laws, amendments etc. (as @fcevado tried it).

[2017-05-10 15:16] fcevado commented on #229
Scraping the files is very easy, the page that has the files and the person who submitted it has incremental id. I was thinking to do something like that to all valid Ids as a personal project after I listened to the same podcast, just as a personal project.
The biggest problem comes on tracking info from people who authored the file. LinkedIn only let you consult on their api if it's logged as a

[2017-05-10 15:57] cuducos commented on #16
Oops… 

It's our fault, we couldn't get back to this Issue/PR in time. Would you mind uploading it again [here](https://www.dropbox.com/request/0U3vtLQdam1eg08zhKpu)?

[2017-05-10 16:09] cuducos commented on #16
Does #218 closes this Issue? cc @jtemporal

[2017-05-10 16:23] cuducos commented on #16
Also the dataset is not available in the S3 yet, is it? Does anyone still have a copy so we can upload it? cc @jtemporal

[2017-05-10 17:10] cuducos commented on #215
@fabiocorreacordeiro as far as I could get you authored three of our opened PRs: #203, #206 and #228.

In #206 we are a little behind and a code review is still pending (@anaschwendler or @jtemporal — are you able to check it?).

#203 and #228 seems to have code that do not belong to them (@irio's commits 0a28212 and 6f2557c). You have to clean up that to avoid conflicts when we merge.

From our p

[2017-05-10 19:48] cuducos commented on #196
Closed by #208

[2017-05-10 19:48] #196 closed

[2017-05-10 19:51] cuducos commented on #229
These kind of scraping is indeed difficult (LinkedIn, Facebook etc.) — but I wouldn't let this
discourage data collection. We can take other routes when it comes to analysis (eg graph databases to see a network of people).

[2017-05-10 19:54] cuducos commented on #188
Sure thing. If we could identify all receipts with handwriting description such as that we would have thousands of new suspicions ; )

[2017-05-10 22:44] fcevado commented on #229
I was thinking to create a fake profile in LinkedIn and search the needed info with that, thought about using Lattes as a source too(it usually has info about where people worked) and the list of advisors.

[2017-05-10 22:56] cuducos commented on #229
They'll block in a second, she says…

[2017-05-10 22:58] rodolfo-viana commented on #229
I've got a friend working there. Perhaps he may help.

[2017-05-10 23:30] fcevado commented on #229
That is some of the problem I was expecting, I think even the congress site will block an ip requesting this much... Well, till its figured out how to relate author's data to other sources, I can create a csv with the usefull metadata.

[2017-05-10 23:31] fcevado commented on #229
Just to be documented here, a useful link:
http://www2.camara.leg.br/transparencia/dados-abertos/dados-abertos-legislativo/webservices/proposicoes-1/obterproposicaoporid

[2017-05-11 01:35] marcusrehm commented on #16
I uploaded the file again [https://we.tl/TTYzFTk5d8](https://we.tl/TTYzFTk5d8).

About close the issue, if this was just the acquisition of partners list, then I think it's done, but I didn't do any analysis with it (yet). :)

cc @cuducos @jtemporal

[2017-05-11 02:08] fabiocorreacordeiro commented on #215
@cuducos , @jtemporal and @anaschwendler ,
these three PRs are about the same theme with distinct maturity. Do you think is a good idea to consolidate them in one new PR and delete the PRs #203, #206 and #228?

[2017-05-11 12:32] cuducos commented on #16
I think this is mostly related to the partner list. I'm pondering on two issues about this dataset before bringin it to S3:

* For some reason it has less 7% companies than the last one (no idea why)
* It misses the geo coordinates we added using Google Places API

So before making it available I would like to know about best practices in versioning (arguably similar) datasets:

1. Should we renam

[2017-05-11 12:46] cuducos commented on #215
I don't mind having three PR. It actually makes it easy for us to code review (I'm reviewing one of them, @jtemporal is reviewing another one, for example). The thing is that we cannot merge if you don't respond to our feedback — @jtemporal and I are still looking forward to hear from you in #203 and #228 ; )

[2017-05-11 12:47] Irio commented on #16
When we first generated it, the `companies.xz` file already had geolocation (using [`src/geocode_addresses.py`](https://github.com/datasciencebr/serenata-de-amor/blob/b81c71d6f4b76d0887346904a30cbb3937e55745/src/geocode_addresses.py)). I'm good with option number 1 if we work on number 2 later. @cuducos

[2017-05-11 12:49] jtemporal commented on #16
I agree with this approach ;)

[2017-05-11 13:03] marcusrehm commented on #16
I think I ran it using only the reimbursements dataset. Another reason could be that the last script were filling lines with blank info only with the message error for "CNPJ inválido".

[2017-05-11 13:25] cuducos commented on #16
Renaming it, opening an issue to add geolocation… and closing this issue! Hell yeah ; ) Thank you so much @marcusrehm 🎉

Closed by #218

[2017-05-11 13:25] #16 closed

[2017-05-11 23:02] silviodc commented on #32
Good news for the detection of duplicate reimbursements. I did a notebook to convert pdf files to png and then to detect common regions with sift.

Recipes used: [5886345](http://www.camara.gov.br/cota-parlamentar/documentos/publ/3074/2015/5886345.pdf) and [5886361](http://www.camara.gov.br/cota-parlamentar/documentos/publ/3074/2015/5886361.pdf).

Recipe in png
![5886345](https://cloud.githubuserc

[2017-05-11 23:46] silviodc commented on #32
Good news for the detection of duplicate reimbursements. I did a notebook to convert pdf files to png and then to detect common regions with sift.

Recipes used: [5645173](http://www.camara.gov.br/cota-parlamentar/documentos/publ/2437/2015/5645173.pdf) and [5645177](http://www.camara.gov.br/cota-parlamentar/documentos/publ/2437/2015/5645177.pdf).

Recipe in png:
![5645173](https://cloud.githubuser

[2017-05-12 14:42] cuducos commented on #32
That's awesome progress @silviodc! Many thanks for that. Even if the results are still _lots of false positives_ IMHO it would be great to have this notebook of yours in our `master` branch. Just add in the conclusions the issues your analysis raised for future researchers ; ) Do you fancy opening a PR?
Cheers

[2017-05-12 21:01] silviodc commented on #32
Hi @cuducos

Yes i can open a PR, just let me play a little with this data in this weekend :D
After that i will do the PR.
I spent too much time to find an away to convert the pdf :/
I just got the insights to play with the prediction right now.

[2017-05-15 17:21] rodolfo-viana opened #233 "Getting list of assistants' names"
Considering congressmen's assistants may use quota for some objetives (e.g. buying flight tickets), it would be great to have a list of their names for future analysis.

For instance, it would allow us check whether the name on the plane ticket belongs to a congressperson or an assistant. If the name on the ticket does not match the congressperson's or one of the assistants', it indicates a possib

[2017-05-15 17:40] cuducos commented on #233
Duplicates #139

[2017-05-15 17:40] #233 closed

[2017-05-18 03:09] jtemporal commented on #139
I merged the PR with the script into master so we can get going on generating the new dataset ;)

[2017-05-18 03:11] jtemporal opened #237 "Refactor advisor script"
As I mentioned in #149 there's a little bit of 💅 to be done on `fetch_deputies_advisors` script.

[2017-05-18 22:13] silviodc commented on #32
Hi everyone,

The PR #238  about the conversion of pdf to image and the use of SIFT is up.
I also put a plain which i think could be interesting to follow to build the ML approach to detect duplicates.
I in near future i will try to do the steps 3 and 4 i mentioned there. However, if someone fell motivates just go, I want to see it working !!

[2017-05-19 14:04] fgrehm commented on #214
FYI - just tried matching the new dataset with meal reimbursements but it seems that we have less matches than the first dataset 😢 Something like 45422 reimbursements were matched by cnpj with the new dataset vs 56901 with the old one 🤷‍♂️

If that's not expected, LMK and I can provide a simple notebook explaining this

[2017-05-19 14:35] marcusrehm commented on #214
@fgrehm could you please send some cnpjs as examples? Which reimbursement file are you using? Maybe we need to run the script passing it also.

I can run it again if I missed some source file. No problem! :smile:

[2017-05-20 02:38] marcusrehm commented on #214
I'm running the script again for the 2017-03-15-reimnursement.xz dataset to add the missing cnpjs. When it finish I can post the file again ok?

[2017-05-21 22:24] cuducos commented on #214
Yep. It's a [kwon issue](https://github.com/datasciencebr/serenata-de-amor/issues/16#issuecomment-300774828) but we still haven't found why…

[2017-05-22 01:12] marcusrehm commented on #214
Guys, I ran the script again adding 2017-03-05-reimbursement and now the companies.xz has 80.613 cnpjs.

You can download the file here [https://we.tl/mQUSgWNqzB](https://we.tl/mQUSgWNqzB)

/cc @fgrehm @cuducos @jtemporal

[2017-05-22 01:24] marcusrehm commented on #214
I did some improvements in the fetch_cnpj_info to handle requests failed. I noticed that during the for loop some of the futures with errors were not getting reinserted in the loop maybe because of [this](https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.as_completed):

So I created a outer loop which runs until there is no more cnpjs left to fetch.

I created the PR  #2

[2017-05-23 09:46] cuducos commented on #214
Wow! Many thanks, @marcusrehm — I'll try to set them up today in S3 and toolbox.

[2017-05-23 09:53] cuducos commented on #214
Closed by #242

[2017-05-23 09:53] #214 closed

[2017-05-27 23:10] silviodc commented on #188
Hi @cuducos

For these reimbursement with handwriting description, i did a classifier using DeepLearning Keras which archived interesting results. it is in the #238

[2017-05-30 00:03] fgrehm commented on #214
FYI - with the new dataset I'm able to match on 61428 companies out of 61757 with meal reimbursements since 2015 (which I consider to be pretty much an 100% match) 🎉 🍻 tks a lot guys!

[2017-06-07 20:32] gustavo-momente commented on #188
@fgrehm, @pedrommone Maybe you could try [Tensorflow Research Cloud](https://research.googleblog.com/2017/05/introducing-tensorflow-research-cloud.html?m=1).

[2017-06-12 17:40] rodolfo-viana opened #250 "Error updating reimbursement files"
I tried to update reimbursement files last Sunday, but found a weird error when fetching.

Do you guys know how to solve this?

[2017-06-12 20:51] jtemporal commented on #250
Hi @rodolfo-viana which question of the toolbox are you using?

[2017-06-12 21:13] cuducos commented on #250
Send

[2017-06-12 21:13] #250 closed

[2017-06-12 21:16] cuducos commented on #250
[Done](https://github.com/datasciencebr/serenata-toolbox/issues/93)

[2017-06-12 21:16] rodolfo-viana commented on #250
@cuducos, @jtemporal helped me out. My version of `serenata_toolbox` was outdated. Thanks, guys.

[2017-06-13 13:15] jtemporal commented on #237
We need to study what changed that this is not working =/

<img width="628" alt="screen shot 2017-06-13 at 10 03 27 am" src="https://user-images.githubusercontent.com/6595551/27084141-287efcfc-5021-11e7-9eec-93f5dd9d4099.png">

[2017-06-13 13:27] jtemporal commented on #237
hey @bruno-schmidt since you were the one majorly responsible for this script existence I thought you might want to take a look into it, what do you think? 😄

[2017-06-13 14:17] vncscoelho opened #251 "Inconsistencies between suspicions?"
[This reimbursement from 02/2017](https://jarbas.serenatadeamor.org/#/documentId/6218730/) was considered suspected, but [this similar reimbursement ](https://jarbas.serenatadeamor.org/#/documentId/6198401/) from the previous month wasn't. It's normal behaviour?

[2017-06-13 14:45] jtemporal commented on #251
Hi @vncscoelho the suspicion is based on gas sub quota which is 6000 reais per month.

Probably, what happened is that in February the amount of reimbursements for that sub quota added up to more than that 6k threshold.

While in January it did not added up to that.

So if that happened (I did not check but you can easily do so) the second reimbursement you linked is totally legal.

[2017-06-13 15:31] cuducos commented on #251
@jtemporal nailed it.

The reimbursement you mentioned was claimed in Feb. 2017, a total of 5,851.30 BRL. That reimbursement together with [this one also claimed in Feb. 2017](https://jarbas.serenatadeamor.org/#/year/2017/applicantId/2916/documentId/6203019) extrapolates the [limit for the fuel subquota](https://github.com/datasciencebr/serenata-de-amor/blob/master/docs/CEAP.md). This second one v

[2017-06-13 15:56] #251 closed

[2017-06-13 15:58] vncscoelho commented on #251
That's it @jtemporal. I wasn't aware of the limit for that sub quota.

[2017-06-14 05:24] andrewsmedina commented on #237
I'm not 100% sure, but I believe that the problem is that this page can't be scraped by a `curl` scrapper like requests.

A way to scrape this page is to use something like splinter (https://splinter.readthedocs.io/en/latest/) or selenium.

What do you think about to use splinter to do it? If you agree I can make a PR to fix this bug.

[2017-06-14 11:20] bruno-schmidt commented on #237
Hey guys!

@jtemporal I just checked it out and the HTML of the page changed a lot. It was not that nice when I and @cuducos  wrote the script lol. Some URL changes also. I'm working on it now. As soon as I have something I will post here n__nd

[2017-06-14 11:55] bruno-schmidt commented on #237
Just pushed a PR (#252) @jtemporal ! I think everything is running fine now :D

[2017-06-18 17:06] jtemporal commented on #251
awesome @vncscoelho ;)

[2017-06-18 21:57] fgrehm commented on #175
Close by the toolbox PR above

[2017-06-18 21:57] #175 closed

[2017-06-19 14:19] cuducos opened #254 "[OCR] Convert jupyter notebook (with bash script) to Python script"
Currently the code that generates a dataset with the text from CEAP receipts is in [this notebook](https://github.com/datasciencebr/serenata-de-amor/blob/0d0d4dbae2e52d2df8450a9c0a24328f0406dee5/develop/2016-12-30-fgrehm-ocr-receipts-with-google-cloud-vision.ipynb).

As it uses shell scripts here and there it would be great to have this as a standard `src/` Python file, without shell script, to au

[2017-06-19 19:34] jtemporal commented on #254
#207 documents how to generate the dataset that already is on our S3 but there's no python script for it. thanks @fgrehm for the data btw ;)

[2017-06-20 17:46] tuliocasagrande commented on #254
Hello @cuducos and @jtemporal

I took a quick look at the problem and it seems we're pending on the `ReimbursementOCR` to be implemented. Is that correct?
The [google-cloud-vision](https://cloud.google.com/vision/docs/reference/libraries#client-libraries-install-python) python library can also be a good idea.

[2017-06-20 18:06] cuducos commented on #254
Exactly — a bit of [background](https://github.com/datasciencebr/serenata-de-amor/pull/207#issuecomment-293694487) just in case ; )

[2017-06-20 18:28] fgrehm commented on #254
I actually did the OCR with python, it even run things in parallel 😄 :mindblown:

Just check the stuff I linked on https://github.com/datasciencebr/serenata-de-amor/issues/188#issuecomment-283495404 and LMK if u need any help with that!

[2017-07-16 16:27] jandersoncoelho commented on #254
Have you seen http://ocrmypdf.readthedocs.io/ ? I use that in my research. It's a interface to Tesseract-ocr and the results It seems good.

[2017-07-20 01:12] jtemporal opened #261 "Fetch TSE data scrapper is broken"
As I was helping @gabrielacaesar earlier today we found out that [`fetch_tse_data.py`](https://github.com/datasciencebr/serenata-de-amor/blob/master/src/fetch_tse_data.py) was broken as follows:

<img width="490" alt="screen shot 2017-07-19 at 10 04 37 pm" src="https://user-images.githubusercontent.com/6595551/28396046-2e6624c2-6ccf-11e7-8eaa-beac865071a9.png">

we also tested is simply because on

[2017-07-20 15:46] #261 closed

[2017-07-21 15:09] cabral commented on #210
Noting the ultimate goal of the project, it makes no sense at this point a comparison between congressperson.
Obviously there is value in visualizing the data of deputies in every way, and it is often observed ranking of spending, but always against the entire collection of data and not against individuals. This choice reflects the option of not nurturing political dispute, but rather pointing to

[2017-07-21 15:09] #210 closed

[2017-07-24 16:17] chessbr commented on #160
I guess @thiagobrito looks for an API to send processed datasets right? (or almost that) something like this dataset database: http://archive.ics.uci.edu/ml/index.php

The main issue is because this project needs extremely transparency, sending data without the source or without the "formula" to extract the data could make this project questionable

From where http://www.consultasocio.com take its

[2017-07-24 16:30] chessbr opened #267 "Browseable Dashboard"
Hi guys!
First, congratulations for the awesome work you are doing!

I have some features to share with you and probably all of you have imagined this before.
I know that collecting and processing federal data is already a challenge and I also know you have plans to start collecting data from states and also cities which is really very good, I will start to scrap data from my city soon so be ready

[2017-07-24 18:11] cuducos commented on #160
Thanks for the  jumping in, @chessbr. I think I get your point, but just to clarify one detail:

That's exactly what we **don't** do: actually we send no data at all, and the data we use anyone can gather and process is from the source with [the toolbox](https://github.com/datasciencebr/serenata-toolbox) — the toolbox shoes exactly the source we download data from, how we process it and how we get

[2017-07-24 18:18] chessbr commented on #160
Yes it does, that is why I said that scrapping data from not trusted source is not a good idea :)

[2017-07-27 02:40] jtemporal opened #268 "Update requirements"
The Toolbox [was released to PyPI](https://pypi.python.org/pypi/serenata-toolbox/12.0.4) we need to update the requirements file.

[2017-07-27 12:36] #268 closed

[2017-07-30 21:35] fgrehm commented on #188
The datasets are on S3 and docs have been merged. Please follow up on ☝️ for additional efforts on this

[2017-07-30 21:35] #188 closed

[2017-08-04 23:23] silviodc commented on #229
After to listen the audio i noticed there are some deputies which propose some amendment and vote against it. What is very suspicious and contradictory.

So, what do you guys think to produce some data considering the mentioned point.

 Could we find some interesting knowledge using it?

[2017-08-10 15:43] cuducos commented on #267
We have it by state in an _ad aeternum_ work in progress at [Jarbas Dashboard](https://jarbas.datasciencebr.com/dashboard) — but I think contributions in that sense would better fit this [Jarbas issue](https://github.com/datasciencebr/jarbas/issues/61) — what do you think?

[2017-08-19 14:08] cuducos commented on #124
Closed by #271

[2017-08-19 14:08] #124 closed

[2017-08-19 16:33] vitorkusiaki commented on #213
@cuducos isn't it resolved by https://github.com/datasciencebr/serenata-toolbox/commit/a0e3c005a0cdaea6ce4bcaf3518b81bc71a8d62f ? Can this issue be closed?

[2017-08-19 19:28] #213 closed

[2017-08-20 19:39] vantonini opened #274 "Jupyter Notebook not available (docker)"
Hi guys! I noticed that I couldn't access jupyter notebook following the documentation (steps 3 and 4 from CONTRIBUTING - Docker Installation Environment) because I had to set an ip to jupyter through this command:
`jupyter notebook --ip 0.0.0.0 --no-browser`
I don't know if this only happens because I'm using docker for Windows, but maybe we could put it to the CONTRIBUTING file?

[2017-08-21 15:43] cuducos opened #275 "Collect data on campaign donations"
Collect data about electoral campaign donors in order to allow analysis [like that (pt-br)](https://leosalesblog.wordpress.com/2017/08/12/como-a-camara-contribui-indiretamente-com-as-campanhas-dos-deputados-apenas-uma-especulacao-utilizando-grafos/) — politicians spend money in some companies that are campaign donors.

[2017-08-21 15:44] cuducos commented on #275
Related to #76

[2017-08-23 12:24] joaopcanario opened #276 "(Docker) PermissionError: [Errno 13]"
I don't know what happened but after last updates from master branch I'm seeing this error on logs of my container:

`PermissionError: [Errno 13] Permission denied: '/Home/jovyan/.jupyter/migrated'`

I started to noticed as well that Jupyter isn't saving the .html and .py files of my notebook anymore. Someone already saw this?

[2017-08-23 12:57] joaopcanario commented on #276
And here my container log:

[code]

[2017-08-23 23:28] joaopcanario commented on #276
Checking a little more about the last update, I found that changing back the tag of `jupyter/datascience-notebook` to `bb222f49222e` fix this problem. I'll try track watch changed in this image to found a better solution.

Besides that, googling a little about this error, I found this [link](https://blog.openshift.com/jupyter-on-openshift-part-6-running-as-an-assigned-user-id/) and I guess that ma

[2017-09-02 14:47] victor-accarini opened #278 "Collect data from congressman amendments."
Hi I would like to work with the csv data retrieved from all amendments pdf files.

I know @Irio has a way to work with pdf files, could it be inserted into serenata-de-amor?

[2017-09-11 23:06] cuducos commented on #276
Fixed by #279

[2017-09-11 23:06] #276 closed

[2017-09-11 23:15] cuducos opened #280 "Docker image is too large"
According to @rennerocha and @paulochf our Docker image is too large. What can be done to get us in a better scenario?

I appreciate @Irio's effort in [this discussion](ttps://github.com/datasciencebr/serenata-de-amor/pull/270): organizing our repositories in submodules allowing us to orchestrate various containers in a seamless way.

If we have a neat Docker environment as such we could have our

[2017-09-12 00:11] cauebs commented on #280
Perhaps the changes proposed by https://github.com/datasciencebr/rosie/pull/41 are now more relevant?

[2017-09-12 08:39] viniciusartur commented on #280
I like the idea of changes that cause the smallest impact possible. So what changes with minimum impact could we do to reach this goal of having smaller Docker images?
Basic refactoring like:
- RUN command: only one per Dockerfile if possible
- COPY command: only one copying a compressed file, then on RUN we extract and copy to the right paths
The question is: if I would do this refactoring how sm

[2017-09-19 11:40] caduvieira commented on #280
Our base image is 2 GB large. https://microbadger.com/images/jupyter/datascience-notebook

We only add 10% of it's size (2.2GB) https://microbadger.com/images/datasciencebr/serenata-de-amor

Do we need all that conda's libs to work? We could refactor our Dockerfile but the gain would be marginal at best if we don't  change the base image or create the environment ourselves.

[2017-09-19 12:38] cuducos commented on #280
This is very important! Thanks for these stats ; )

Do you mean the ones in the `conda_requirements.txt` or the ones installed by default in Anaconda?

[2017-09-19 12:48] ocefpaf commented on #280
Apologies if this is non-pertinent to the topic, but I've been following this repo and I have my two cents to give on this issue:

- the `datascience-notebook` image seems like an overkill to start here I would use the `minimal-notebook`, `base-notebook`, or even a [bare bones miniconda image](https://hub.docker.com/r/continuumio/miniconda) and install Jupyter there using the `conda_requirements.t

[2017-09-19 13:51] alexsandro-xpt commented on #280
I have the same problem with it in my Python's project.

[2017-09-19 16:43] caduvieira commented on #280
I mean https://github.com/jupyter/docker-stacks/blob/master/datascience-notebook/Dockerfile#L39
and
https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile#L20

that are added by the base image.

And to be clear the 2GB are the download size. Once you unzip it's about 5.5GB

[2017-09-19 19:30] cuducos commented on #280
Ok, good to know Miniconda is available in a Python 3 edition, yay ; )

Regrading the [R packages including IRKernel](https://github.com/jupyter/docker-stacks/blob/master/datascience-notebook/Dockerfile#L39) there was a PR using R and we might want to bring it onboard one of these days. However the PR is idle for months and IMHO we shouldn't push us to do that in this issue — this should be done w

[2017-09-19 19:35] ocefpaf commented on #280
You don't need to rely on that Docker image to get the R packages. They can be listed in the `environment.yml` [like this](https://github.com/ioos/notebooks_demos/blob/master/environment.yml#L77-L94). Note that the "state" of the docker image bloats a little bit for each `RUN` call, so it is best to install everything in a single call.

[2017-09-19 23:29] caduvieira commented on #280
We could use multiple runs to prevent an invalidation of a docker cache that we didn't need like this https://stackoverflow.com/questions/34398632/docker-how-to-run-pip-requirements-txt-only-if-there-was-a-change

[2017-09-21 14:25] zmechz commented on #138
@fgrehm Usually, when you buy a flight ticket, you have a billing data and the flight ticket data, meaning billing name is not necessarily the same as the passenger's name.
Do you guys have both data (billing + fligh ticket) in CSVs?

[2017-09-21 14:25] giorgecaique opened #282 "Datavzi with Tableau"
_[Translated version of the original message]_

I'm working with data from the Chamber of Deputies in on a classroom project at my university. I've created a data visualization with Tableau. The project is at a very early stage yet but it generates relevant insights to people. If I anyhow (I/the project) could contribute to this project, that would be great. This is the link https://public.tableau

[2017-09-21 18:59] cuducos commented on #138
The CSV offers only the passenger name. The receipt image might have more info, so the dataset generated with OCR data might be useful too.

[2017-09-21 19:01] cuducos commented on #282
Hi @giorgecaique, as the official language of the project is in English I'm editing your message, ok?

[2017-09-21 19:15] cuducos commented on #282
Now, general comments:

As discussed in several other issues around here I see some problems with the kind of dataviz you're working on:

* Total by parties: politicians in general change parties very often in Brazil so I don't know exactly how to interpret this data… yet parties have different distribution in the House, so it is indeed expected, for example, to have a higher amount of expenses fr

[2017-09-22 13:18] giorgecaique commented on #282
How do you think I can improve this? Should I normalize the data for me to compare how the parties are spending the money?

Same thing for the Total by state, if I normalize the data and put every state in the same scale (based on each one reality) would you consider this chart more relevant?

When I created this chart, my intention was to show how much money was spended by the parties, but I see

[2017-09-22 13:59] cuducos commented on #282
Sure thing ; ) I mean… it depends on how you normalize, but it is totally feasible ; )

Beyond that, hell yeah! Keep on with the great project!

[2017-09-25 20:53] wandersoncferreira commented on #278
also interested! o/

[2017-09-25 22:07] Irio commented on #278
Hey everyone. You can find dataset and code that generated it on the following links:

https://gist.github.com/Irio/7bf35f10dad39cea519ebee4ee7fc5cc
https://github.com/Irio/budget

[2017-09-26 10:16] gabrielfior commented on #278
also interested!

[2017-09-26 12:47] cuducos commented on #278
Hi @gabrielfior, just to clarify: @irio just shared the data and script in his comment above — can you be more specific in what you're interested in?

[2017-10-03 00:48] jtemporal opened #283 "Add a donate button to README"
**What is the problem?**
We don't have a donate button 😱

**How can this be addressed?**
Add a button donate button to the README file

It something like ![donate](https://img.shields.io/badge/donate-apoia.se-EB4A3B.svg) linked with [Serenata's Apoia.se Campaign](https://apoia.se/serenata). I generated that badge with [Shields.io](https://shields.io).

**Who could help with this issue?**
Anyone re

[2017-10-03 01:02] jtemporal commented on #283
Code for the badge mentioned: `![donate](https://img.shields.io/badge/donate-apoia.se-EB4A3B.svg)`

[2017-10-03 03:35] lemuellloren commented on #283
#285

[2017-10-03 18:19] cuducos commented on #283
IMHO this is not necessary in this repo. We already have a link in the `README.md` and actually we have no set of badges to put together with a badge as such. What do you think, @jtemporal?

[2017-10-03 22:39] Lrodlima commented on #275
Any idea of how often should this collection happen ? At least each election ? The ideia here is just build the dataset ?

[2017-10-03 23:59] henrique2601 commented on #15
I dont know if anyone still working on this, but I found this site where you can with CPF get the mother name trying to do a sign up. The problems is that have any captchas, I think anyone can "hack" this mec system to check if is possible use this api for get mother name.
http://sistec.mec.gov.br/login/cadastrar

[2017-10-04 10:36] cuducos commented on #275
Hi @Lrodlima,

Take look in the article linked in the opening post and the author discusses the source of data there. Then we have some examples of data collection in `research/src/` here and mainly in the [toolbox](http://github.com/datasciencebr/serenata-toolbox).

I think we could have a single database with year as a column. Maybe take [this article](vita.had.co.nz/papers/tidy-data.pdf) can he

[2017-10-04 16:09] maykillmore commented on #283
Can I take this up?

[2017-10-05 12:54] cuducos commented on #283
Closed by #284

[2017-10-05 12:54] #283 closed

[2017-10-07 14:36] arioston commented on #274
Hi, I guess the problem is with the command :

on [Doc:](https://docs.docker.com/compose/reference/run/)

I hope this fixes the problem.

[2017-10-07 20:52] bahbbc commented on #17
Hello! The main objective here is to generalize the manual analysis from @jonasporto? (Or try to find other ways?

[2017-10-08 00:30] WesleyBatista opened #288 "Problem in the Contributing Flow"
Hello guys!

**TLDR**
Maybe we should have an alternative guide to install the dev environment.

---

My first time here since I heard about the project last year. Sorry in advance if I'm doing something in the wrong way.

Following the [CONTRIBUTING.md](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md) guide I jumped to the post on [medium](https://medium.com/data-sci

[2017-10-09 12:26] cuducos commented on #17
Yep ; )

Yep too.

The idea of this repo is to explore data we have (or scrap new data), try different analysis techniques etc. So anything goes ; )

[2017-10-09 12:27] cuducos commented on #288
Just to be clear… did you use Anaconda Python as recommended?

[2017-10-09 12:43] WesleyBatista commented on #288
No, I did not use Anaconda Python.

[2017-10-09 12:58] cuducos commented on #288
Hi @WesleyBatista,

Ok… surely the issue has shown our contributing guide is indeed confusing. The role of the medium article was merely to introduce what the repos are about (this one, Rosie, Jarbas, the toolbox). The core of the instructions to [get a working dev environment is still at the contribution guide](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md#local-in

[2017-10-09 18:03] turicas commented on #15
I've done a gender-based classification using IBGE API (data based on 2010 census). The scripts is available here: https://github.com/generonumero/logradouros

[2017-10-10 14:12] WesleyBatista commented on #288
After a quick talk with a contributor here on #PyBR13, I guess that now I know what happened.

I've started on **serenata-de-amor** project, but the `pip install` using GIT URL information was about the **serenata-toolbox** repo. In the later one repo, there is a **setup.py** in the root directory.

My bad, sorry :/

In response to your question, I think that maybe we could rethink about the **Bef

[2017-10-10 16:21] cuducos commented on #288
The point of view is extremely important for us! Having feedback from starters as you is the only way to ponder on our biased look into the repo ; )

Keep this stuff in mind. And many thanks for the feedback.

[2017-10-10 16:21] #288 closed

[2017-10-11 11:49] silviodc opened #289 "Improve CONTRIBUTING.md"
**What is the problem?**
Many people have doubts about how to install Serenata and download the data using the toolbox.

**How can this be addressed?**
We can create a short video (no more than 10 minutes) explaining step by step the following points:
1.  Clone the project from git
2. Install Serenata using Docker
3. Necessary configurations
4. Download the data using the toolbox in a Jupyter note

[2017-10-11 17:21] JorgeMadson commented on #289
I would really apreciate it (a video explaing step by step)! I tryied to run it but it didn't.

[2017-10-11 20:55] anaschwendler commented on #289
Hi everyone!

I recorded a video to show how to install the project without Docker, but I'm not explaning anything,
but I show where is the datasets and how to create a new notebook.

I'll release the a version with Docker soon, just collecting some feedback

https://youtu.be/g9hmMFVp4rs

[![IInstalling #serenatadeamor without Docker](http://img.youtube.com/vi/g9hmMFVp4rs/0.jpg)](http://www.youtub

[2017-10-11 21:39] paulochf commented on #280
Thanks for bringing me here!

Actually, I don't know Docker really well. What I learned about it was during Serenata's SP Sprint haha.

What I do know is that we have an ML project at work that we are using a Docker base image based (strange phrasing, but I'll get it) on alpine which has Python 3.6 and Scikit+Pandas+Numpy+Scipy, and then our project uses it.

I'll talk to some people there and see

[2017-10-11 22:05] anaschwendler commented on #274
Closed by #287

[2017-10-11 22:05] #274 closed

[2017-10-12 04:21] lacerdamarcelo commented on #275
Hey guys,

This is my first time trying to contribute with this awesome project. Therefore, as my first attempt, I decided to help solving this issue. As you can see in [this](https://goo.gl/AiYC4S) link, which takes you to my fork from the project, I've created a script that takes all csvs from 2010 until the last election (available in the links provided by the link in the description), put all

[2017-10-12 10:08] cuducos commented on #275
Hi @lacerdamarcelo — many thanks for this contribution!

Yep, you got ir right. A `.py` that does the data collection from the source is the way to go. The datasets we can generate by our side running and testing your script but you can provide a link as you did. Regarding examples, as I just told @Lrodlima in the comment above yours: _Then we have some examples of data collection in `research/src

[2017-10-16 16:39] lacerdamarcelo commented on #275
Hey guys,

Thanks @cuducos for the reply. I will keep working on the script to make it the way it must be.

Regarding the columns names, here are they:
[code]
I would really appreciate if you guys could translate them. Many of them are from a quite specific field and I do not feel confident enough to translate them by myself.

Regarding the files I sent a link, please, do not use them. I just real

[2017-10-17 19:13] GustavoSFCoelho commented on #275
Hey guys, gave it my best show. Counting on others to revise my work.

Cargo = position/office
CNPJ Prestador Conta = ?(CNPJ is company's ID) I believe it's the party's ID in case the donation was received from anothe party (more on thato in the CPF/CNPJ do doador originário)
Cod setor econômico do doador = Donator's economic sector code (I believe it's a classification)
Cód. Eleição =
CPF do cand

[2017-10-17 19:29] cuducos commented on #275
Many many thanks @lacerdamarcelo and @GustavoSFCoelho! Gonna work on awesome Gustavo's suggestions and kind of format them as snake case, as we use in Pandas and CSVs:

| pt-Br | en-US |
|-------|-------|
| Cargo | post|
| CNPJ Prestador Conta | accountable_company_id |
| Cod setor econômico do doador | donor_economic_setor_id |
| Cód. Eleição | election_id |
| CPF do candidato | candidate_cpf |
|

[2017-10-17 22:57] pedrommone commented on #275
@cuducos you missed a underline here 👉  `original donor_name_for_federal_revenue`

[2017-10-18 03:10] GustavoSFCoelho commented on #275
@cuducos there is a 'c' missing in original_donor_cnpj_or_pf -> original_donor_cnpj_or_cpf

[2017-10-18 08:55] cuducos commented on #275
Thanks @pedrommone and @GustavoSFCoelho — edited/fixed ; )

[2017-10-19 03:10] lacerdamarcelo commented on #275
Wow! Thanks a lot guys! I'm still working on the script to make it fully automated. Probably by this weekend I'll finish and create the PR.

[2017-10-19 11:58] caduvieira commented on #280
Where are this image?

[2017-10-19 15:04] felipeeeantunes commented on #275
Hi guys, I've been working on the notations, in particular I've a code here (one using benford law and other using complex networks): https://github.com/felipeeeantunes/DataScienceBR (resources of two papers, one accepted in Physica A and other already submitted).

An already munged data set can be found here: https://www.kaggle.com/felipeleiteantunes/electoral-donations-brazil2014

I'll follow th

[2017-10-19 21:44] anaschwendler commented on #289
Now the installation with Docker: https://youtu.be/3XwvZbCvZKQ

🎉

[2017-10-20 03:44] lacerdamarcelo commented on #275
Hey guys,

I'm almost done with the script. I would like to know where in the repository should the code be (is there any specific place for these scripts?) and where should I save the .xz files.

I would like to share again the current code ([here])(https://github.com/lacerdamarcelo/serenata-de-amor/blob/issue_275/meus_codigos/Converting%20donation%20data%20do%20.xz%20extension.ipynb) just for yo

[2017-10-20 11:00] cuducos commented on #275
Hi @lacerdamarcelo : )

The [contribution guide has a section explaining the purpose of each directory](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md#best-practices) I think it's a good idea for you to review that in case of doubt — we kind of explain why data collection scripts go in `research/src/` and why we don't commit the dataset themselves.

I would encourage

[2017-10-21 04:36] lacerdamarcelo commented on #275
Hey @cuducos

Here is the PR: https://github.com/datasciencebr/serenata-de-amor/pull/290

In the description I listed what I still need to do to finish the code. Waiting for feedbacks about the project's standard.

[2017-10-23 20:12] icaroseara commented on #280
Hey @caduvieira, We do use the follow image at work to decrease the size of our ML projects.

https://hub.docker.com/r/empregoligado/alpine-python-ml/

[2017-10-27 03:42] lacerdamarcelo commented on #275
Guys, I've updated the code and tried to improve the readability the most I could. More comments in the PR. Waiting for new feedback!

I would like to ask you guys to make two new translations which, somehow, I skipped when I asked for help for the first time:

Sequencial Diretorio
Tipo diretorio

P.S.: thanks for the latter feedback, I've learned new things =)

[2017-11-01 20:00] cuducos commented on #275
❤️

Do you know what _diretório_ means in the context? In some context it could be translated like _union_ (_Student Union_ sometimes is an acceptable translation for _Diretório Acadêmico_), or _committee_, or _board_. I'm not sure. A bit of context might clarify the issue ; )

[2017-11-04 18:01] lacerdamarcelo commented on #275
@cuducos, a found [this](https://pt.wikipedia.org/wiki/Diret%C3%B3rio_(pol%C3%ADtica) link.

Maybe we could translate **Diretório** to **Party Board**, as I found an evidence [here](https://en.wikipedia.org/wiki/Conservative_Party_Board) that this could be the correct translation. What do you think?

[2017-11-04 18:12] cuducos commented on #275
Yep, _party board_ makes sense ; ) Many thanks!

[2017-11-04 20:09] lacerdamarcelo commented on #275
Translation included =)

[2017-11-17 19:10] silviodc opened #291 "Expense of fuels by other people than the congressperson"
**What is the problem?**
There are expenses of fuels in cities where the deputies aren't working. This fuels can probably be associated to its accessors. However, we can not affirm it 100%, because we do not have any signed document about who is doing these expenses. For instance this [twitte](https://twitter.com/RosieDaSerenata/status/930676912749465600) highlights that someone else who is not th

[2017-11-19 14:09] cuducos opened #292 "Clarify Docker instructions"
I can get notebooks running with `docker-compose up` but our `CONTRIBUTING.md` guide instructs me to enter yet another command: `docker-compose run --service-ports research jupyter notebook`.

It'd be great to clarify **when** and **why** the second command, added in #287, is needed: does it depends on the OS? On the OS settings? On Docker or Docker Compose versions? Etc.

[2017-11-19 14:10] cuducos commented on #282
Closed by inactivity

[2017-11-19 14:10] #282 closed

[2017-11-19 18:09] giovanisleite commented on #292
I followed @anaschwendler steps described at #274 but removing `--service-ports`, it worked as expected.

Running the jupyter command `docker-compose run --service-ports research jupyter notebook` after `docker-compose up -d` gets an error, `Bind for 0.0.0.0:8888 failed: port is already allocated`.

So, I followed with `docker-compose down` and `docker-compose run --service-ports research jupyter

[2017-11-20 12:33] anaschwendler commented on #292
So, that was a thing that I was looking and was having some problems, but as long it seemed to be working I just followed, because in the first time that I had run, I needed to run the `--service-ports` command. But then, it was no longer needed.

I think that now it is no longer needed :)

That is the same for me too!

[2017-11-20 12:33] #292 closed

[2017-11-21 15:49] cuducos opened #295 "New descriptive analysis"
One of our collaborators (non-tech) suggested a descriptive analysis we could use as argument when standing for better control and transparency of CEAP expenses. She suggested a notebook addressing question such as:

1. Monthly average per congressperson (grouped per state, as values varies across states)
2. Monthly ratio of the total allowed and the total spent per congressperson (grouped per sta

[2017-11-21 17:25] silviodc commented on #295
I would also to include the average life cost of the capital of each state and median of salary that people gets there. I have seen many people on Twitter saying that deputies lives in another world an don't represent them, due the high value available on CEAP.

[2017-11-24 01:08] mathcunha commented on #295
Dear @cuducos,

The info to answer questions 1 and 3 can be found at 2017-07-04-reimbursements.xz, something like groupby(['year_month', 'state', 'congressperson_name'])['total_net_value'].mean() for question 1 and groupby(['year_month', 'state', 'subquota_description'])['total_net_value'].mean() for question 3. The complete solution is available at https://github.com/mathcunha/serenata-de-amor/bl

[2017-11-24 20:48] netoferraz opened #296 "Question about installing environment with docker"
Hello guys! I'm following the project for a while, but only nowadays I'll try to help with something. My first try to set up the environment I'm encountering some troubles with recompile python to make things works properly,  as I don't know how to do that I decided to try with docker approach.  After some back and forth I got it. When I open the jupyter on my browser the folders structure has som

[2017-11-27 16:00] fgrehm commented on #254
Heads up: I've been hacking away on a better approach for OCRing receipts at https://github.com/fgrehm/serenata-ocr and one of the ideas is that it will have support for a "pluggable provider interface", meaning people can choose between Google Cloud Vision, https://ocr.space/, Microsoft Azure and maybe even some self hosted tesseract infra.

[Here's a WIP of the notebook I'm working on](https://g

[2017-11-28 12:26] belisards commented on #275
Hey,

I don't know if it's too late now, but we've ( @rafapolo @belisards @turicas ) been trying to standardize the data of financial campaign. We created a bash script that download, clean and upload all CSV from TSE (our "Electoral Court") in a single SQL database. We've all the data from all campaigns since 2002 - and it's possible to import "semi-official" data from 1994 and 1998 too.

There i

[2017-11-29 14:02] cuducos commented on #89
Closed by inactivity

[2017-11-29 14:02] #89 closed

[2017-11-29 14:03] cuducos commented on #139
Closed by ba55eb7ffae8083c11044b0f60b89415a44bfe6d

[2017-11-29 14:03] #139 closed

[2017-11-29 14:05] cuducos commented on #153
Now we have a good window to look back and compare, for instance 2017 with 2016 — just remember to take the 90 days interval in which congresspeople can claim for reimbursements into account.

[2017-11-29 14:07] cuducos commented on #158
Yesterday I read an analysis by @vilapedro on that ; ) Once he opens the PR we can close this issue.

[2017-11-29 14:07] cuducos commented on #160
Closed by inactivity — anyone is free to re-open and suggest new strategies and architecture feasible for us ; )

[2017-11-29 14:07] #160 closed

[2017-11-29 14:09] cuducos commented on #169
Closed in favor of #170

[2017-11-29 14:09] #169 closed

[2017-11-29 14:10] cuducos commented on #180
Closed by inactivity — anyone feel free to re-open when needed

[2017-11-29 14:10] #180 closed

[2017-11-29 14:11] cuducos commented on #215
Closed by #232

[2017-11-29 14:11] #215 closed

[2017-11-29 14:15] cuducos commented on #267
Closed by inactivity

[2017-11-29 14:15] #267 closed

[2017-11-29 14:54] fgrehm commented on #254
See https://github.com/datasciencebr/serenata-de-amor/pull/298

[2017-11-29 17:40] anaschwendler opened #299 "Add pyup"
Pyup is a feature that keep all of the libraries updated.
We already have pyup in our other repositories, like `rosie` and `serenata-toolbox`

_Contributors_: It is a good issue for `first-timers`, so if you know someone who is interested in contributing, but didn't know how, teach someone :)

[2017-11-30 13:02] anaschwendler commented on #222
The issue is already solved, so I'll close it for now.

[2017-11-30 13:02] #222 closed

[2017-11-30 19:11] anaschwendler opened #301 "Include telegram badge to README.md"
There is a way to include our telegram as a badge on github, the library is [here](https://github.com/Patrolavia/telegram-badge)

Our group on telegram: https://telegram.me/joinchat/AKDWc0BDOqriD1n-mntRBg

[2017-11-30 19:19] anaschwendler commented on #301
Talking with @cuducos we decided that we don't want to do it right now :)

[2017-11-30 19:19] #301 closed

[2017-11-30 19:24] cuducos commented on #301
Just to clarify: the Telegram group is for devs interested in contributing, so the `CONTRIBUTING.md` is the proper place for the link (and there it is, in the very first paragraph). No need to call more attention repeating it in the general-public `README.md`.

[2017-12-02 16:49] oswaldoferreira opened #302 "Use classified datasets to generate graphs (Grafana?)"
Hi!

I see we already can fetch and classify reimbursements using https://github.com/datasciencebr/rosie. Would that be interesting (in terms of project goals) to have such data being showed by graphs in a open, on-premise graph solution such as [Grafana](https://grafana.com)?

Personally I see great advantages of showing the world the following fact:

Here is the corruption level of congress peop

[2017-12-04 14:51] anaschwendler opened #303 "Include issue and pull requests templates"
[Rosie](https://github.com/datasciencebr/rosie) and [Toolbox](https://github.com/datasciencebr/serenata-toolbox) already have some templates, the idea is to have them in all repos.

The text?

- Pull Requests

[code]

- Issues
[code]

**How can this be addressed?**

I think that the thing that is needed is to add a `.github` folder and add two files like: `ISSUE_TEMPLATE.md` and `PULL_REQUEST_TEMP

[2017-12-04 15:55] cuducos commented on #302
Hi, @oswaldoferreira — as far as I could understand your suggestion I can say these goals are currently discussed as [the future of Jarbas](https://github.com/datasciencebr/jarbas/issues/61). What do you think?

[2017-12-05 00:20] oswaldoferreira commented on #302
Hey @cuducos, thanks for the response!

I see you guys have a way ahead discussion there, that's great!

My proposal was generating those graphs with an existing (open-source) platform without having to actually code the Frontend and sketch the whole UX for it. Basically we'd use a [Python library](https://github.com/weaveworks/grafanalib) (on Jarbas or Rosie) to speak to our Grafana server and ha

[2017-12-09 13:48] shuchitagupta commented on #299
I am a first timer. How can I go about contributing? Thanks

[2017-12-10 21:27] cuducos commented on #299
Hi @shuchitagupta : )

I'm not sure about your experience with Git and GitHub, but the very basic are these [6 steps](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md#the-basics).

Besides that pyup.io documents how it works and how to add it to a GitHub repository. I already enabled it to this repo, but one might need a config file and a bagde on the `README.md` — we'

[2017-12-10 21:28] cuducos commented on #299
Also we do not want to specify the version of `serenata-toolbox` so always the newest version is installed. We need to add code do pyup.io ignores this package ; ) All documented in pyup.io

[2017-12-11 11:14] MatheusRich commented on #303
Hey, can I get assigned to this issue?

[2017-12-11 11:36] cuducos commented on #303
There's no official way to assign it… so if say it's yours, _it's yours_! : )

(Just out of curiosity: GitHub Assignees feature only allow people who are part of the organization/repo to be assigned.)

[2017-12-11 11:45] MatheusRich commented on #303
Ok I'll do it. I just asked because in some repositories the people from the organization/repo set tags like `work-in-progress`.

[2017-12-13 18:44] jtemporal commented on #303
#317 fixed this one =)

[2017-12-13 18:44] #303 closed

[2017-12-17 14:36] shuchitagupta commented on #299
@cuducos I dont understand completely how to add. A little more help will be appreciated. Thanks.

[2017-12-18 09:16] cuducos commented on #299
Hi @shuchitagupta,

In order to help you, may you share what you've tried, read, tested?

For example: I'm not sure if your doubts are related to contribution over Git e GitHub or specifically about pyup.io. As I've already shared a link about Git/GitHub, here's a link about how to setup pyup.io: https://pyup.io/docs/bot/config/

What do you think?

[2017-12-18 09:19] cuducos commented on #295
Closed by #297

[2017-12-18 09:19] #295 closed

[2017-12-18 11:25] shuchitagupta commented on #299
@cuducos I have added a config file and pushed it onto a branch

[2017-12-18 11:28] cuducos commented on #299
Great! Have you forked the project to your account (there's a _Fork_ button on the top part of every GitHub project)? If so now it's time to push you branch to your fork (e.g. `git push origin name-of-the-branch`).

Once your branch is pushed to your fork, when you open your fork at GitHub there'll be a button to open a Pull Request. That's the way you get code suggested into this project ; )

[2017-12-18 11:33] shuchitagupta commented on #299
Yes. I understand this. I think I am doing something wrong. I have followed the same but unable to get a pull request.

[2017-12-18 11:36] cuducos commented on #299
Ok… so I understand [this is your  fork](https://github.com/shuchitagupta/serenata-de-amor). However I can't find your branch in [its branches](https://github.com/shuchitagupta/serenata-de-amor/branches) nor your commits among [its commits in the `master` branch](https://github.com/shuchitagupta/serenata-de-amor/commits/master). So I guess the step you're not succeeding is in pushing your changes

[2017-12-18 12:15] shuchitagupta commented on #299
I have added branch pyup_branch and now tried fun_stuff branch

Total 0 (delta 0), reused 0 (delta 0)
To https://github.com/shuchitagupta/serenata-de-amor.git
 * [new branch]      fun_stuff -> fun_stuff

[2017-12-18 12:22] cuducos commented on #299
Hi @shuchitagupta

Take a look in this output you just shared:

[code]

For some reason your branch is not called `pyup_branch` as you expeced, buy `fun_stuff`. And it is indeed in your fork: I can [see the branch](https://github.com/shuchitagupta/serenata-de-amor/tree/fun_stuff) now, and [it is listed](https://github.com/shuchitagupta/serenata-de-amor/branches) in your fork's branches.

In this l

[2017-12-18 12:28] shuchitagupta commented on #299
Hi,
Is this right?
![image](https://user-images.githubusercontent.com/6664686/34106115-f9e47850-e41c-11e7-9d0e-c5d10d7a81cd.png)

[2017-12-18 12:35] cuducos commented on #299
It depends : ) It's right in the sense it's showing you that there's nothing different comparing your branch `fun_stuff` to our `master` branch. This is precisely correct.

However I do understand you expected to see your changes (the config file) there. It might have happened that this file was committed to another branch. You have to locate that branch, change to it with `git checkout name-of-th

[2017-12-18 12:38] shuchitagupta commented on #299
I was successful now. Added a config file for pyup and created a pull request.

[2017-12-18 12:53] shuchitagupta commented on #299
@cuducos Thank you for the help and patience.

[2017-12-18 15:51] #299 closed

[2018-01-01 22:23] arphoton commented on #138
Hi guys,
I'm new here and I'm very interested in this issue.
Please, somebody could send me an update about it?

Thanks!

[2018-01-04 09:56] cuducos commented on #138
Hi @arphoton — welcome : )

I'm not sure about what you mean by an _update_. We keep the discussion of each issue in its page here on GitHub, so I'm afraid all we have is in this very page.

Surely as you're new you can check the `CONTRIBUTING.md` to check auxiliary datasets that might help in this issue, and join the Telegram group (link in the `CONTRIBUTING.md`) if you wanna yet another channel

[2018-01-23 19:28] jirka66 opened #323 "Invitation to Telegram group expired"
The invitation links for the Telegram group  expired, returning the following error in the web interface:

call
https://t.me/joinchat/EL96zkOUq4UK4Cv1-o5OYQ

my line when there is a bug:
https://web.telegram.org/#/im?tgaddr=tg:%2F%2Fjoin%3Finvite%3DEL96zkOUq4UK4Cv1-o5OYQ

Error:
Method: messages.checkChatInvite
Result: {"_":"rpc_error","error_code":400,"error_message":"INVITE_HASH_EXPIRED"}

[2018-01-24 10:17] anaschwendler commented on #323
Hi @jirka66!

We took a closer look at our Telegram link, and for us, both in the website and in the `CONTRIBUTING.md` they seem to be working.

Can you try again, please? https://telegram.me/joinchat/AKDWc0BDOqriD1n-mntRBg

If they not work, please drop a line again! :)

[2018-01-24 12:44] jirka66 commented on #323
your address is different.

my error group
https://t.me/joinchat/EL96zkOUq4UK4Cv1-o5OYQ

[2018-01-24 12:51] jirka66 commented on #323
another group has logged out. I can not add it again. what's happening? Do I have the power of groups? I have 7 groups.

https://t.me/travelflexchat

[2018-01-24 12:59] cuducos commented on #323
Sorry @jirka66 – we can only look after our Telegram group. If you have issues with other groups we definitively cannot help you. I suggest you to try to find people/repos related to the group you're linking. Wish you luck 🍀

[2018-01-24 12:59] #323 closed

[2018-01-24 13:30] jirka66 commented on #323
ok thank you

[2018-02-22 19:11] markwyner opened #330 "Website Link in Readme is Incorrect"
In the readme file you point to your official website, but the link is incorrect. I know that's not a part of the project itself, but for obvious reasons it’s still important.

You link to:
https://serenatadeamor.org/en

It redirects to:
https://serenata.aien/

It should redirect to:
https://serenata.ai/en/

I hope this helps.

[2018-02-23 17:09] cuducos commented on #330
@Irio – assigned that to you as you're the DNS guy, ok?

[2018-02-23 19:43] Irio commented on #330
Solved. Thanks @markwyner ;)

[2018-02-23 19:43] #330 closed

[2018-03-01 17:26] cuducos commented on #26
Closed accidentally by unrelated commit from Rosie/Jarbas repos.

[2018-03-01 17:26] cuducos commented on #174
Closed accidentally by unrelated commit from Rosie/Jarbas repos.

[2018-03-01 17:27] cuducos commented on #17
Closed accidentally by unrelated commit from Rosie/Jarbas repos.

[2018-03-01 17:35] cuducos commented on #15
Closed accidentally by unrelated commit from Rosie/Jarbas repos.

[2018-03-07 04:55] cclauss opened #338 "Three undefined names"
Flake8 testing of https://github.com/okfn-brasil/serenata-de-amor on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-03-07 12:00] cuducos commented on #338
Hi @cclauss,

If you follow [the instructions](https://github.com/okfn-brasil/serenata-de-amor#settings) this errors go away. In other words, copy `contrib/.env.sample` as `.env`, and configure it properly before running the project ; )

Feel free to re-open the issue if you spot further problems, ok?

[2018-03-07 12:00] #338 closed

[2018-03-13 04:15] markwyner commented on #330
It's my pleasure, friend.

[2018-03-22 19:07] cuducos opened #347 "Container research is failing"
[code]

[2018-04-06 15:02] marceloabk commented on #347
I've found this [issue](https://github.com/okfn-brasil/serenata-toolbox/issues/189) in toolbox. Can't be something related?

(I'm trying to start contributing to the sernata de amor. I'll say it again, I hope it's not just a beginner's mistake because of some configuration)

[2018-04-16 19:53] #347 closed

[2018-04-21 23:58] ricardochaves opened #363 "Rosie does not generate the irregularities.xz"
Rosie does not work like the one described in [documentation](https://github.com/okfn-brasil/serenata-de-amor/tree/master/rosie).

Running ```$ docker run --rm -v /mydir:/tmp/serenata-data datasciencebr/rosie run chamber_of_deputies```

It does not produce the results described in the documentation: ```irregularities.xz```

[code]
After running I just get the files named ```reimbursements-YEAR.xz`

[2018-04-23 11:44] cuducos commented on #363
Hi @ricardochaves. Thanks for reporting this possible bug.

Unfortunately I couldn't reproduce it here… except for minor changes in Rosie docs (#365, which, by your output, I understand you have figured out yourself) I got the `suspicions.xz` file created.

<details>

I started fresh (no `/tmp/serenata-data`):

[code]

The one before the last is the `suspicions.xz` file.

</details>

Can you try a

[2018-04-24 23:45] ricardochaves commented on #363
Sorry for my late reply
Trying again:

First I made the project clone.
[code]
I moved it to the directory.
```cd serenata-de-amor```

I copied the .env
```cp contrib/.env.sample .env```

Execute docker
[code]

Genereted file:

[code]

I have not yet opened the project itself to study the code, first I would like to see the project running.
Maybe that's why I can not see what I'm doing wrong. Anywa

[2018-04-25 21:06] ricardochaves commented on #363
[code]
Log:
[code]
Files:
[code]

I made a new master clone.
I still can not generate the file, I'll keep trying here.

I'm going to do some extra tests on Jarbas and a PR, then go back to Rosei and try to understand the code to try to know what's going on.

Sorry for the delay

[2018-04-25 21:16] cuducos commented on #363
@rogeriochaves, from your logs it seams Rosie is crashing due to lack of RAM memory. Have you noticed that some years are missing in the  `Loading reimbursements from /tmp/serenata-data/reimbursements-XXXX.csv` logs? It seems it crashed before loading 2009, 2013 and 2018…

It is quite normal, merging 9 datasets that have, together, almost 2 million rows is quite memory consuming for Pandas.

[I've

[2018-04-25 22:02] ricardochaves commented on #363
I'm going to close it, I think it's really a memory problem, I have a much better machine (I only get it on weekends) and I'm going to test it. We do not have to leave it open.
Thank you for your help!

[2018-04-25 22:02] #363 closed

[2018-04-29 16:50] cuducos opened #373 "Remove (deleted) Dockerfile-nginx from Docker Cloud CI"
The Ci is failing for `master`, one of the reasons is that it tries to build `Dockerfile-nginx` container – but this file was deleted, right? Here is [an example](https://cloud.docker.com/swarm/serenata/repository/docker/serenata/nginx/builds/e9a34800-834a-4dd6-92fe-e6d8ac89dd6e).

I couldn't find the proper settings in Docker Cloud, can you give me hand, @Irio?

[2018-05-01 15:38] Irio commented on #373
Removed from Docker Cloud. ;)

[2018-05-01 15:38] #373 closed

[2018-05-11 19:52] fabregasf opened #380 "How to install the example project"
I've cloned the project with git, and now I need to see in practice on the browser. But, how I do this? I run npm install and anything happens when I get: myserver/serenata-de-amor .
![serenata](https://user-images.githubusercontent.com/10199180/39944124-b43f7f58-553b-11e8-98f2-599be7cbecdf.png)

[2018-05-11 21:30] cuducos commented on #380
Hi @fabregasf, nice to see newcomers here : )

By any chance, were you able to find and test the instructions in our `CONTRIBUTING.md`? There's a link to it in the `README.md` that shows up in the home page for this project here at GitHub.

It seams likewhat you need ; )

Let me know how far you get, ok?

[2018-05-11 21:30] cuducos commented on #380
Hi @fabregasf, nice to see newcomers here : )

By any chance, were you able to find and test the instructions in our `CONTRIBUTING.md`? There's a link to it in the `README.md` that shows up in the home page for this project here at GitHub.

It seams likewhat you need ; )

Let me know how far you get, ok?

[2018-05-23 23:29] ricardochaves opened #384 "[Rosie] Change the responsibility of writing the xz files, from Core to the Adapter"
**What is the problem?**
Today the Rosie Core receives an `Adapter` that must have the `dataset` and a `path`.
The path is used to write the `xz` file to disk. In this scenario, the `Adapter` is responsible for collecting data from a file that it receives in the constructor, but has no responsibility to deliver the data to its destination. This makes it difficult to create an `Adapter` to write da

[2018-05-24 08:29] cuducos commented on #384
Hi @ricardochaves,

Many thanks for your interest. Before diving in, I'd like to poorly draft read/write responsibilities here:

1. `serenata-toolbox` is in charge of reading _original data_ from the source
    1. Today it writes it to a compressed CSV with the `.xz` extension
    1. In the future this is not necessary, we could pass a database `postgres://user:pass@host/name` instead of a `path`

[2018-05-26 15:50] ricardochaves commented on #384
Makes sense! I'll close and start looking at the database.

[2018-05-26 15:50] #384 closed

[2018-05-27 16:19] lupuselit opened #385 "Translate README.md to pt-br ? [question]"
I volunteer to translate the readme.md file to pt-br if that's wanted, I think the repo's description should be available for Brazilian who may not know English well enough. If that's needed I wish to be assigned to do it.

[2018-05-27 17:42] cuducos commented on #385
Please, refer to #87 ; )

[2018-05-27 17:42] #385 closed

[2018-05-30 18:13] chicocvenancio opened #388 "Use a frontend cache"
**What is the problem?**
Improve page responsiveness. Using a frontend cache.

**How can this be addressed?**
Adding a reverse-proxy (such as nginx) in front of django and setting up caches there.

**Who could help with this issue?**
I would love to tackle this
**Labels**
[performance]  [enhancement]

[2018-06-29 11:08] kurtmaia commented on #153
Have any analysis on this come out?

[2018-06-29 12:00] cuducos commented on #153
[Yep](https://medium.com/serenata/o-impacto-do-controle-social-na-c%C3%A2mara-dos-deputados-c2b2a34db09e) : )

Sure thing this is not _the definitive analysis_. But it's one possible take on it, @kurtmaia.

[2018-06-29 13:29] kurtmaia commented on #153
Oh that's nice. Thanks for sharing that.  I work with statistical network analysis, I was considering an analysis of whole "gastos" network using some dynamic networks methods. The idea is see if there is an overall difference of behavior of the network before and after serenata.

[2018-07-13 16:07] r41278856 opened #398 "Problem with docker-compose up"
**What is the problem?**
 I am trying to run rosie and generate the database suspicions. I am following this guide https://github.com/okfn-brasil/serenata-de-amor/blob/master/CONTRIBUTING.md. I am working in windows 10. Everything works until I run this command docker-compose up
Then I get this error
Building research
Step 1/11 : FROM conda/miniconda3
 ---> 7bd5d4e6b751
Step 2/11 : USER root
 --->

[2018-07-13 17:44] cuducos commented on #398
Ok, my first guess was wrong: the latest image is 1 year old.

I guess it's a Windows issue related to the end of line (`\n\r` vs. `\n`). When `setup.py` is copied from Windows (host) to Linux (container) it goes with Windows line endings and crashes: note the `\r` in the error message `/usr/bin/env: 'python\r': No such file or directory`…

Can anyone with Windows (and maybe some Docker experience

[2018-07-13 21:14] r41278856 commented on #398
Thanks for your reply Eduardo. I am using windows.

Git states does this
\serenata-de-amor>git status
On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

I clon the folder again, I get a slightly different output, but it couldn't complete the task

C:\Users\user\Dropbox\mres_dissertation\data\serenata-de-amor>docker-compose up
Building research

[2018-07-18 14:31] cuducos opened #400 "New pip deprecated pip.main(…) used in setup script"
**What is the problem?**

As @r41278856 reported [elsewhere](https://github.com/okfn-brasil/serenata-toolbox/pull/114#issuecomment-405942583) `pip` version 10 deprecated `pip.main(…)` (available on `pip` version 9).

**How can this be addressed?**

Some ideas (not exclusive ideas by the way)

* Updating `setup` script using new version of `pip` if it has an equivalent options
* Updating `setup` sc

[2018-07-18 14:55] cuducos commented on #400
Personally I would get rid of `setup` and just add the `pip install` stuff to the docs ; )

[2018-07-18 19:51] R3DDY97 commented on #400
hi would like to fix it

will use new version pip equivalent

[2018-07-19 17:22] dumabg opened #402 "Jarbas API doesn't filter by state parameter"
Trying the Jarbas API, the state parameter seems do nothing:

https://jarbas.serenata.ai/api/chamber_of_deputies/reimbursement/?limit=7&state=DF

Return all, not filtered by state.

[2018-07-19 17:45] dumabg commented on #402
On the documentation, https://github.com/okfn-brasil/serenata-de-amor/blob/master/jarbas/README.md, appears on Filtering section.

[2018-07-19 17:51] cuducos commented on #402
No, it doesn’t. It might be confusing (and surely we can work on to clarify this in the docs), but the link you and I referred to says the content of the `state` field is indexed in the query generated by the `search` filter.

We try to communicate this by the indentation and the hierarchy of a nested unordered list. I’m sorry it didn’t work. Any ideas to better communicate it?

[2018-07-19 18:04] dumabg commented on #402
What do you think something like?

search. The value is searched in these fields:

and add in the sample the parameter search with, for exemple, DF, explainig that filters by state DF.

[2018-07-19 18:05] dumabg commented on #402
What about put another parameter, searchfield?

[2018-07-19 18:11] cuducos commented on #402
As [I just mentioned](https://github.com/okfn-brasil/serenata-de-amor/issues/402#issuecomment-406354463) adding `state` to the filters is indeed a good idea 🤘

But I do not belive that searching by state using the `search` field is very useful. If I got you example, `?search=DF` is not actually filtering reimbursements from DF congresspeople… it is searching for the string `DF` in a series of fiel

[2018-07-19 18:13] dumabg commented on #402
How Jarbas Dashboard filter by state? It uses another API?

[2018-07-19 18:27] cuducos commented on #402
I really don’t see how `searchfield` might be better than simply `search`. Can you expand on that?

Regarding the dashboard, it doesn’t use any external API, it’s just Django Admin.

[2018-07-20 08:32] dumabg commented on #402
on searchfield could be specified the field used for search. For exemple, in this case, could be something like searchfield=state&search=DF

[2018-07-20 08:41] turicas commented on #15
I've extracted the 100k more popular Brazilian names and classified them using IBGE Nomes API, also grouped by "name group" (like "Thiago" and "Tiago" are in the same group) - the [dataset is available at Brasil.IO](https://brasil.io/dataset/genero-nomes/nomes) and may help in this issue.

[2018-07-20 09:59] cuducos commented on #402
Hum… basically this would not work: the `search` happens in a pre-createda search vector, so you cannot choose whic field to look up. And enabling search in any firld without it would compromise our Postgres performance. I think the beat direction for this issue is to include state as a filtering field.

[2018-07-20 13:59] gcmartinelli opened #403 "[question] where can I find the models used?"
Scanning the code I only found the import of existing (trained) models. I would like to learn more about the model itself. Is it shared somewhere? Maybe I missed it in the code... Thanks!

[2018-07-20 14:35] cuducos commented on #403
Maybe @jtemporal @anaschwendler or @Irio can better address this question, but long story short we don't use per-existing models in Rosie. If I'm not wrong it can help that she trains a model and save it for later, but it's generated on-the-fly.

[2018-07-20 15:52] gcmartinelli commented on #403
I believe I found the classifier locations now (in `rosie/rosie/chamber_of_deputies/classifiers` and `rosie/rosie/federal_senate/classifiers`). I appreciate the quick response :+1:

[2018-07-29 14:53] cuducos commented on #400
Sorry, @silasalvares , it was alreadu fixed by #401 but we forgot to close this issue ; )

[2018-07-29 14:53] #400 closed

[2018-08-28 11:06] willianpaixao commented on #302
@cuducos have you thought about that?
Would be nice to have some more stats, more real-timeish numbers about the expenses.
I would love to help with that.

[2018-08-28 11:34] willianpaixao commented on #302
Does the project has a central place to generate the stats? can you please point where and how are the numbers stored?
For example, can you please show me where the reimbursements are stored?

[2018-08-28 11:59] cuducos commented on #302
* Datasets with official data are generates with the `serenata-toolbox` (linked in the `README.md`) and stored locally in CSV format
* Suspicions data is generated by Rosie (in this repo) and stored locally in CSV format
* All this data is exported for search and visualization over the web in Jarbas (in this repo) and stored in PostgreSQL

[2018-08-30 08:13] willianpaixao commented on #302
@cuducos I successfully downloaded the toolbox, the datasets and took a look at some of the CSV files. I could start myself generating some graphs, but would be nice to clarify some doubts before.

1. Using a tool like Grafana (or similar) only makes sense if Rosie would be online and making calculations throughout the year. But I already understood that it is run in batches. Therefore the generat

[2018-08-31 11:53] cuducos commented on #302
Yes. We don't have money to keep a server up do run Rosie periodically.

I like that : ) In addition there's some points on dataviz on #282 that might be interesting ; )

[2018-09-01 21:50] willianpaixao commented on #302
Hum, I read the related issue but apparently, his work was in the wrong direction and the failure to keep the development, having the ticket closed be inactivity. Which kinda brings me to square zero.

But I have an idea, the numbers displayed on the project's homepage. Is there any document or procedure to re-generate it?

[2018-09-02 11:09] cuducos commented on #302
I do think this is not the really important thing there. But from our experience, [some comments](https://github.com/okfn-brasil/serenata-de-amor/issues/282#issuecomment-331254114) on how to ponder data is what I meant ; )

They are the result of several explorations registered as [Jupyter notebooks](https://github.com/okfn-brasil/serenata-de-amor/tree/3ead79ed992d8264a50f73a11f36e23d6823d2fe/rese

[2018-09-02 17:18] kellyabreu opened #410 "Merge between reimbursements and suspicions tables"
I downloaded the base as pointed out in:
https://github.com/okfn-brasil/serenata-toolbox#example-3-generating-datasets
https://github.com/okfn-brasil/serenata-de-amor/tree/master/rosie#running

**What is the problem?**
I'm trying to merge the tables by 'document_id' field, however, they have diverse contents:

#suspicions.xz
print(suspeitas2018['document_id'])

223545            NaN
223546

[2018-09-03 18:32] cuducos commented on #410
Hi, @kellyabreu, it's really ackward to have these values in the `document_id` column inside `suspicions.xz` — totally unexpected. Would you mind sharing your whole code base so we can try to see what's happening?

[2018-09-03 18:39] jtemporal commented on #410
hi @kellyabreu I'm not able to reproduce this "error", could you send the code you wrote on a gist?

[2018-09-03 19:11] kellyabreu commented on #410
Hi @cuducos and @jtemporal,

First, I downloaded the files with:
$ docker run --rm -v /tmp/serenata-data:/tmp/serenata-data datasciencebr/rosie python rosie.py run chamber_of_deputies
$ docker run --rm -v /tmp/serenata-data:/tmp/serenata-data datasciencebr/rosie python rosie.py run federal_senate

Then, i tried to merge reimbursements and suspisions with python:

import pandas as pd
import numpy a

[2018-09-03 20:15] #403 closed

[2018-09-06 11:09] willianpaixao commented on #380
@cuducos the whole structure of the project changed since this ticket was opened. Should it be closed?

[2018-09-06 11:16] cuducos commented on #380
True story

[2018-09-06 11:16] #380 closed

[2018-09-06 13:06] cuducos commented on #280
Agreed ; )

[2018-09-06 13:06] #280 closed

[2018-09-07 12:00] derrix060 commented on #398
return code `127` means that the command was not found. Try to execute locally `bin/sh -c ./setup` and see what's going on. Maybe you will have to change your PATH.

[2018-09-10 17:04] kellyabreu commented on #410
Hi @cuducos,
suspicions.xz is coming with another files (federal_senate) by the command:
docker run --rm -v /tmp/serenata-data:/tmp/serenata-data datasciencebr/rosie python rosie.py run federal_senate

I repeated this process many times. I deleted and created all containers again. But the file suspicions.xz didn't change. The document_id have been filled with document_number value.

code:
import p

[2018-09-10 17:13] cuducos commented on #410
Ok. Now I got it. As you've ran Rosie twice, first it generates the `suspicions.xz` for the chamber of documents. Then she, in the second round ([from your command](https://github.com/okfn-brasil/serenata-de-amor/issues/410#issuecomment-418179336)) it generates a new `suspicions.xz`, overwriting Chamber's `suspicions.xz` with the Senate's `suspicions.xz`.

I would recommend you to move or rename `

[2018-09-10 18:45] kellyabreu commented on #410
@cuducos, sorry, but i didn't understand.
I've ran them in this order:
[code]

`suspicions.xz` is created only in the last one.

[2018-09-10 18:52] cuducos commented on #410
Maybe you're failing on a [memory error](https://github.com/okfn-brasil/rosie/issues/24) in the first command : (

How's your setup?

[2018-09-10 20:46] kellyabreu commented on #410
I did't get any memory error:

`$ docker-compose build`

[code]

[code]

[code]
[code]

[2018-09-10 22:05] cuducos commented on #410
I'm afraid you've got, @kellyabreu. If you run `python rosie.py run chamber_of_deputies` and gets no `suspicions.xz` that's because the process didn't finished. As far as we could track it's a memory error, but we might be wrong.

In my computer (16Gb RAM) this happens sometimes within Docker, but if I run it locally (virtualenv and stuff) it works.

[2018-09-10 22:13] cuducos commented on #410
From this bit of your logs, I'm pretty sure the container exited before the process end (and, again, most probably cause is a memory error):

[code]
Why am I pretty sure?

Your last log message was `Loading companies`. You're missing log messages, which tells me the process was interrupted. I see no trace of further messages such as:

* [`Renaming columns to Serenata de Amor standard`](https://git

[2018-09-11 12:05] kellyabreu commented on #410
@cuducos ,
It worked locally. The problem was within Docker.
Thank you so much!

[2018-09-11 12:08] cuducos commented on #410
Hell yeah, good to know 🤘

[2018-09-11 12:08] #410 closed

[2018-09-12 09:30] willianpaixao commented on #388
Django has a [built-in cache framework](https://docs.djangoproject.com/en/2.1/topics/cache/).
But indeed, a more specialized caching tool would improve overall performance.

Although, there's a financial impact involved since a new application will increase cloud resource consumption and therefore higher monthly cost of infrastructure.

[2018-09-12 11:28] cuducos commented on #388
That is already in use I must say ; )

[2018-09-18 10:40] willianpaixao commented on #302
Adding @thiagoalmeidasa to the thread.

We were discussing on how to add stats and graphs with the least impact or adding too many new components to the current stack. Our suggestion is to use [Bokeh](https://bokeh.pydata.org/en/latest/) in some `stats/` in Jarbas for example.

[2018-09-18 11:08] cuducos commented on #302
Will you use Bokeh to generate Django views or to generate static files? Maybe it's a good idea to create some API endpoints for the stats, and have the dataviz as a static site served directly through nginx (or even hosted somewhere else such as GitHub Pages, for example).

[2018-09-18 11:15] willianpaixao commented on #302
Yes, API endpoints are included! It's one way to pass the data to Bokeh.

[2018-10-03 10:18] cuducos commented on #402
Closed by #418

[2018-10-03 10:18] #402 closed

[2018-10-04 03:30] willianpaixao commented on #15
@Irio @cuducos how is the state of this issue? I see many related issues closed, some merged. Maybe someone can summarize what was done and what still needs to be implemented?

[2018-10-04 10:49] cuducos commented on #167
Closed because this `src/` folder is not in use anymore.

[2018-10-04 10:49] #167 closed

[2018-10-04 10:50] cuducos commented on #398
Makes sense ; )

[2018-10-04 10:50] #398 closed

[2018-10-04 10:53] cuducos commented on #224
I think collecting personal data on politician is still an issue. I would leave this because collecting this data might be useful to build something together with #119, for example.

[2018-10-04 10:57] cuducos commented on #15
I think that discussions like that are valid in the sense they might be the building block (together with #119 and #224, for example) for a new classifier. A rough roadmap would be:

* Collecting politicians' relatives names
* Collecting data with the name of the partners of companies in which these politicians have been spending CEAP money
* Use something like @gabriel-almeida's algorithm (#119)

[2018-10-05 15:51] guidiego commented on #388
@cuducos @willianpaixao Jarbas had a serviceWorker to cache images on the browser? Maybe cache some requests by time too! I could help in it :D

[2018-10-05 16:04] cuducos commented on #388
Jarbas has so few images that I don't believe this is a bottleneck. Optimizing database queries seems more useful in terms of performance right now…

This is [already done](https://github.com/okfn-brasil/serenata-de-amor/blob/9fa0cc695a870864b569ba1346af63f0c8e6bca7/jarbas/settings.py#L60-L69).

[2018-10-05 16:08] guidiego commented on #388
Nice! Let me know if you had some queries or front-end bottleneck that I could help @cuducos I'm searching for issues right now!

[2018-10-09 19:51] Lrodlima commented on #76
So guys this analisys is already done ? Can you provide me info where the files are ?

[2018-10-09 20:48] cuducos commented on #76
Unfortunately, not.

If you refer to the reimbursement data, you can get them using the toolbox mentioned in the `README.md` — please, let me know if you have troubles running it.

If you refer to the donors data, this is something that should come in as part of this feature implementation ; )

[2018-10-11 15:42] fer22f opened #421 "Improve UX and UI design for Jarbas"
**What is the problem?**
The website has some rough edges in regards to usability and layout. I outlined some here:
![title](https://user-images.githubusercontent.com/3057302/46815754-eb635200-cd51-11e8-8d14-b114f865b9f9.png)
![search](https://user-images.githubusercontent.com/3057302/46815759-ed2d1580-cd51-11e8-9e6e-9da6599dc952.png)
![search_results](https://user-images.githubusercontent.com/305

[2018-10-11 16:45] cuducos commented on #421
Awesome, @fer22f! Thanks for that. Loved it ❤️

There are also great ideas in this archived issue: https://github.com/okfn-brasil/jarbas/issues/61 Who ever is willing to take this improvements on, I do recommend following this old thread ; )

[2018-10-11 16:45] cuducos commented on #421
Let me know how to help you. I can provide the back-end for features not covered by the current API.

[2018-10-12 18:35] fer22f commented on #421
What do you think about filter tabs?
![image](https://user-images.githubusercontent.com/3057302/46887398-e2e34800-ce33-11e8-9f27-c2058acb83a8.png)
In the coming week or so, I will request to merge this first set of fixes (without adding the more complicated stuff like adding new views), it basically works the same way as before, it's just a better UI.

[2018-10-15 18:50] cuducos commented on #421
I like it! Incremental enhancements instead of throwing it all away and starting over sometimes is the way to go : )

[2018-10-15 23:10] agzukoff commented on #188
is this dataset still available for download? the wetransfer (https://we.tl/i1C2z6sBJX) link looks expired.. would love to get my hands on this.

[2018-10-16 11:14] cuducos commented on #188
Yep.

That's expected. We use sites such as WeTransfer just to quickly exchange files between collaborators and core developers. Later, as @fgrehm, it's uploaded to our file storage.

Hell yeah 🤘 Just go ahead and use the [toolbox](
https://github.com/okfn-brasil/serenata-toolbo)x mentioned in the `README.md` to download any dataset we have : )

[2018-10-22 23:27] giovanisleite opened #425 "Automate searchvector creation"
**What is the problem?**
Today the [searchvector](https://docs.djangoproject.com/en/2.1/ref/contrib/postgres/search/) creation is made manually with the command `python manage.py searchvector` ([code](https://github.com/okfn-brasil/serenata-de-amor/blob/be9c2cf0d2a01d8895980f4eb83b51830034a0ee/jarbas/chamber_of_deputies/management/commands/searchvector.py)) and it could be **automated**.
This comm

[2018-10-26 08:38] willianpaixao commented on #296
@cuducos the notebooks are no longer part of this repo. This issue should be closed.

[2018-10-26 12:30] willianpaixao opened #426 "Cleaning up research folder"
**What is the problem?**
The `research/` directory used to hold the Jupyter notebooks but now has some remains of unused code. A Dockerfile, a `setup` script (now deprecated) and a valuable `src/ ` folder that shouldn't be lost.

**How can this be addressed?**

- [ ] `src/` folder that could be moved to _serenata-toolbox_ repo (suggested by @jtemporal).

- [ ] `Dockerfile` and `setup` could be saf

[2018-10-26 12:39] willianpaixao opened #427 "Cleanup old branches"
This repo has currently 37 branches, many of them created by the _pyup-bot_, having its respective issue closed, but the branch remained. Some user created branches also, having up to two years with no new commits or rebase, being most likely forgotten or abandoned.

Some effort in checking whether the branch should be just deleted or some contributor could be pinged for either finishing its issue

[2018-10-26 12:44] willianpaixao commented on #427
@jtemporal

[2018-10-26 14:48] willianpaixao opened #429 "Removing goss from dependencies"
I was looking at this health check service used in the Jarbas Docker image, [goss](https://github.com/aelsabbahy/goss).

It's a small dependency (<10MB according to its author), but it can be replaced with a simple line in `jarbas/urls.py` that adds a route (for example `/healthcheck`) that simply returns 200. Additionally, it would use `curl` which is already in the base image to request the rout

[2018-10-29 04:38] giovanisleite opened #431 "Bring Federal Senate data to Jarbas"
**What is the problem?**
The serenata-toolbox already have data about federal senate, but we don't have it on jarbas.

**How can this be addressed?**

- Create Federal Senate app & Reimbursement model based on serenata-toolbox csv (#430)
- Addapt Rosie to write directly on Jarbas database () or write a script to import data from csv to jarbas like the one from chamber_of_deputies.
- Add this data

[2018-10-29 12:04] #296 closed

[2018-10-29 19:58] cuducos commented on #429
Just out of curiosity: if the point is to have a view that simply returns 200, can we use a regular endpoint instead?

[2018-10-29 20:04] cuducos commented on #427
Unfortunately it looks like @pyup-bot [is not prepared to delete branches from closed non-merged PRs](https://pyup.io/docs/bot/config/), thus a palliative thing to do would be to change the schedule to once a month in out `.pyup.yml`. This could be done in a PR.

In spite of that we could manually clean-up stale branches, or add a script to be run by maintainers that would automatically clean-up s

[2018-10-29 22:51] jtemporal commented on #427
I already deleted the pyup stale branches that I found. Other than that I would

as you suggested @cuducos

Other than that... there are a lot of branches of unfinished hypothesis study or things that we didn't want to be merged into master for any kind of reasons... @willianpaixao could you specify what other branches you think should be removed?

[2018-10-30 09:03] willianpaixao commented on #427
@jtemporal there's no official procedure for that, but we need to chase the developers who push those branches and kindly ask the status of their contributions, what's left to implement and if they can either finish or write a small guide to someone else that can pick up the left work.

Some branches are so old that they might implement something that is no longer desired or even compatible with t

[2018-10-30 09:04] willianpaixao commented on #429
Precisely my friend. And right now we're using a 10MB external app for that.

[2018-10-30 09:05] willianpaixao commented on #429
It could also return a json with some simple stats of the django application (eg number of active connections, etc), and this could be used for monitoring.

[2018-10-31 10:44] willianpaixao commented on #431
@giovanisleite I just saw your PR and it looks great! Do you want any help?

[2018-12-19 19:30] turicas opened #441 "Street view is not available on Jarbas"
**What is the problem?**
Street view is not available on Jarbas ([see the page visited](https://jarbas.serenata.ai/layers/#/documentId/6612739)):
![2018-12-19_17-25-42](https://user-images.githubusercontent.com/186126/50243116-6f216680-03b3-11e9-9057-ef3eb2765865.png)
When I click [the image](https://maps.googleapis.com/maps/api/streetview?size=640x400&location=-30.0314560%2C-51.2313350&fov=90&hea

[2018-12-20 13:17] cuducos commented on #441
Many thanks for the report. New API keys created and issue fixed ; )

[2018-12-20 14:08] turicas commented on #441
Interface changed, but still doesn't work:
![gmaps](https://user-images.githubusercontent.com/186126/50289419-f02e3b80-044f-11e9-9a48-6c61616c9ca3.png)

[2018-12-20 14:35] cuducos commented on #441
_Signature_ error fixed too, but now there's no free tier for the Google Street View Static API, and I'm not sure we're willing to pay for that feature:

<img width="704" alt="image" src="https://user-images.githubusercontent.com/4732915/50290738-c24af600-0453-11e9-8302-e03b0fbeca06.png">

[2018-12-20 14:35] #441 closed

[2019-01-07 20:36] cuducos opened #447 "Automate the update process"
**What is the problem?**
Nowadays we need to _manually_ update our dataset because we do not have money to keep a DigitalOcean droplet with 16Gb of RAM running. But we have to automate that anyway. The manual process is done roughly like that:

1. Run Rosie locally
2. Upload the two generated CSV to the production server manually with `scp`
3. Copy the two CSV to the Docker container with `docker

[2019-01-08 03:41] andrewsmedina commented on #447
I can help with this issue.

[2019-01-08 18:12] chicocvenancio opened #448 "Jarbas: Search by CNPJ with separators returns incomplete results"
This template is here to help you to write your issue ;)

**What is the problem?**
Searching by CNPJ returns incomplete results.
Seeing the [latest CEAP scandal ](https://gauchazh.clicrbs.com.br/politica/noticia/2019/01/onyx-usa-notas-em-serie-de-amigo-para-receber-verba-de-gabinete-cjqn0zueo0pwl01piavlr04z5.html) we can see a [search by CNPJ with separators](https://jarbas.serenata.ai/dashboard/c

[2019-01-09 10:56] cuducos commented on #448
I do think this is the best option: from my experience it's easier to change Django Admin's behavior with Python code than with JavaScript code – but this might be a matter of perspective.

I think what we can do is to use a regular expression matching 14 or 11 number sequences formatted as CNPJ or CPF and strip the punctuation. This could use to match those `[\d.-]{14}|[\d./-]{18}` and then repla

[2019-01-09 17:06] cuducos commented on #448
Might be helpful (playing while enjoying my coffee earlier today):

[code]

[2019-01-10 11:46] #429 closed

[2019-01-12 17:02] Mageswaran1989 commented on #188
how can i get the dataset? it would be a great help.

[2019-01-12 17:18] Mageswaran1989 commented on #188
Toolbox link : [https://github.com/okfn-brasil/serenata-toolbox](https://github.com/okfn-brasil/serenata-toolbox)

[2019-01-28 09:57] #448 closed

[2019-01-28 10:14] cuducos commented on #427
We did a clean up. There are still some stale and not merged branches we would like to keep for documentation (stuff we might link in a talk or another, for example). So I'm closing this issue — thanks for the heads up, @willianpaixao ; )

[2019-01-28 10:14] #427 closed

[2019-01-28 10:16] cuducos commented on #426
I'm just documenting here that moving the scripts from `src/` to the toolbox is not a literal suggestion. As I mentioned in https://github.com/okfn-brasil/serenata-toolbox/pull/209:

[2019-02-02 14:58] thaisvergani opened #454 "Data visualizations"
Hi! I am developing some charts using d3 js
I want to help people to understand the composition of the reimbursements and I wish to know your thoughts about it :)

Chart | Description
-- | --
Composition of the reimbursements classified by Category | A pizza chart that shows how much each category impacts on the budget ![image](https://user-images.githubusercontent.com/16618522/51990522-56b36a00-2

[2019-02-04 11:31] cuducos commented on #454
Sounds really interesting! Some comments:

1. Will the _Composition of the reimbursements classified by Category_ charts be separated by state? I think this might be a good idea: since each state has a different allowance in the quota and a different number of deputies, this could be a possible bias in the visualization (São Paulo has more deputies and arguably a more expensive quota than half of

[2019-02-08 14:15] #447 closed

[2019-02-13 01:52] jedibruno commented on #454
It is indeed really interesting!

I have no coding skills to help with that, but maybe I can help locating more data about the quota transfers to the leadership. What do you think? Could it be useful?

[2019-02-13 11:05] cuducos commented on #454
Sure thing, that'd pretty useful IMHO : )

[2019-02-14 16:53] jedibruno commented on #454
In order to gather more information about this, I filled an official FOIA request to the Chamber of Deputies on [their website](https://camara.custhelp.com/app/utils/login_form/redirect/home). Here is the text (in Portuguese) in case anyone be curious:

I'll publish the answer as soon as I receive it.

[2019-02-22 14:48] cuducos opened #457 "The field term is null… should it be null or is it a bug?"
**What is the problem?**
Jarbas, the Elm part, is broken, it does not load the reimbursement data from the API. For example: https://jarbas.serenata.ai/layers/#/documentId/6758912

**How can this be addressed?**

The error (summarizing) reads: `Expecting Int at term and got null`. A hotfix is kind of easy (just change `Int` to `Maybe Int` in the Elm app… but the point is **we're not expecting `ter

[2019-02-22 14:59] cuducos commented on #457
If anyone needs, this is a [dump from Jarbas production database](https://www.dropbox.com/s/k385shzshdjuber/jarbas-2018-02-14.sql.gz?dl=0). Some exploratory steps I did:

[code]

[code]

[code]

In other words, no pattern so far…

[2019-02-22 15:16] cuducos commented on #457
Ok… the `term` field is missing in the Chamber of Deputies original file. For example, in [Ano-2019.csv.zip](http://www.camara.leg.br/cotas/Ano-2017.csv.zip):

<img width="943" alt="pasted_image_22_02_19_12_16" src="https://user-images.githubusercontent.com/4732915/53251536-a6561180-369b-11e9-9785-9fe794dd6366.png">

[2019-02-22 16:01] #457 closed

[2019-02-26 16:45] gabrielfior commented on #454
I have a different suggestion regardiing data visualization. What about using a ready-to-use solution like Redash (https://redash.io/)? There you can just connect your database, write SQL queries and create the visulizations. Afterwards you can embed them in Websites or other medias.

PROS
- Out-of-the-box solution, quick to deploy (AWS Images available, as well as for other platforms)
- Easy to s

[2019-02-26 16:59] cuducos commented on #454
This is basically increasing 25% of our total costs with infra-structure. At this point of the project I'm afraid this is prohibitive : (

[2019-02-26 17:00] cuducos commented on #454
This is basically increasing 25% of our total costs with infra-structure. At this point of the project I'm afraid this is prohibitive : (

Also, our bottleneck already is the database, so I would prefer to not directly connect the visualization to PostgreSQL to avoid increasing costs in the database machine.

[2019-03-13 06:49] pnandikur opened #463 "Telegram group invitation link is expired"
Even after trying multiple time to send invitation getting following error :
Method: messages.checkChatInvite
Result: {"_":"rpc_error","error_code":400,"error_message":"INVITE_HASH_EXPIRED"}

tg://join?invite=AAAAAEItvJql8VPs7QE8Tg

[2019-03-13 12:28] cuducos commented on #463
Thanks for reporting, @pnandikur.

I assume you're referring to the Telegram group invitation link, right? If so, can you confirm this link works? If so we can open a PR: https://t.me/joinchat/ACJyTEBDOqp6uZIAeUEOlw

[2019-03-15 23:45] Lrcezimbra opened #464 "Link to the profile of some deputies is broken on Jarbas"
In [this page](https://jarbas.serenata.ai/layers/#/documentId/6613806) of Jarbas, the link to deputy profile is broken [Perfil do(a) deputado(a)](http://www.camara.leg.br/Internet/Deputado/dep_Detalhe.asp?id=74253)
![image](https://user-images.githubusercontent.com/7042915/54467082-a3fa4b00-4761-11e9-867f-fb28d522b1c3.png)

Looking on Chambers of Deputies site, I saw that the link of deputies prof

[2019-03-16 00:13] Lrcezimbra opened #465 "Show Twitter user of congressperson on Jarbas"
Since Rosie can no longer mention congressperson on Twitter, would be interesting if Jarbas has information about congressperson Twitter, so people can use that to reply Rosie tweets mentioning congresspeople.

Rosie mentioned they on twitter, so I think that we have the information in database. I think would be easy to show this information on Jarbas or in Django admin and would facilitate to col

[2019-03-17 14:21] thaisvergani commented on #454
Another chart that could be useful would be related to tweets.
How the tweet impacts on reimbursements of a congressperson? I mean, does the reimbursements of a congressperson get any cheaper after he/she gets notified that Rosie considered a expense suspicious?
If so, can i get the date of the tweet? Where is it stored?

[2019-03-17 14:30] cuducos commented on #454
Not analyzed per congressperson or tweet, but we might assunr [yes, it does](https://medium.com/serenata/o-impacto-do-controle-social-na-c%C3%A2mara-dos-deputados-c2b2a34db09e).

You need to use the Twitter API. We just store the tweet status number.

[2019-03-18 12:41] #464 closed

[2019-03-26 13:46] jedibruno commented on #454
I received an answer from the Chamber of Deputies (CD) regarding the request I made about the leadership quotas. The answers (in Portuguese) are attached to this message.

I'm speacially troubled by this answer:

quotas da CEAP para a Liderança, conforme previsto no art. 14, §§1º e 2º do Ato de Mesa 43/2009?**
A cessão de cota prevista no art. 14 do Ato da Mesa 43/2009 é registrada no sistema de c

[2019-03-27 20:36] cuducos commented on #454
Sure thing. It worth nothing to ask about transparency if the answer direct us to a restricted software/dataset.

[2019-03-28 15:23] jedibruno commented on #454
Alright. I have submitted another formal request to the Chamber of Deputies regarding the subject. Hopefully we can get a better picture this time. Their deadline is approximately on april 17th

Here is the text I have submitted (in Portuguese):

1 – De que maneira o cidadão pode verificar se houve transferência de quotas entre algum deputado e sua liderança?
1.1 – Tendo em vista que a simples ind

[2019-04-10 20:20] sergiomario opened #468 "Rosie should post tweets where suspicions that have at least 91 open days."
**What is the problem?**
According to the [rules of parliamentary quota of the Chamber of Deputies](https://www2.camara.leg.br/comunicacao/assessoria-de-imprensa/cota-parlamentar), Members have up to 90 days to present the supporting documentation of expenditure.
`"No caso de reembolso, o deputado tem até 90 dias para apresentar a documentação comprobatória do gasto, depois da data de prestação do

[2019-04-15 11:14] reznd opened #469 "ARTICLE?"
I am a computer science student and would like to know which articles were used as a basis for the production of this project. I am doing a project development topic and I would love to know what articles you have used. Thank you.

[2019-04-16 12:58] maurokenny commented on #463
This link worked for me

[2019-04-22 13:17] jedibruno commented on #469
Could you be more clear? What do you mean by "article"?

[2019-04-22 13:21] reznd commented on #469
What basements did you use? Did you use some article or something like
that?

Em Seg, 22 de abr de 2019 10:17 AM, jedibruno <notifications@github.com>
escreveu:

[2019-04-22 13:26] jedibruno commented on #454
Hello guys!

I have received another answer from the Chamber of Deputies about the quota transfers between representatives and their leadership.

I have attached their complete answer below, but in few words: the transfers "per se" are currently not avaiable for public scrutiny online.

What do you suggest to be our next move? Maybe we can try to request access to this dataset?

[Resposta 190328-0

[2019-04-22 13:27] cuducos commented on #469
Hi @reznd. Would you mind expanding on it? This project is kind of complex embracing communication, law, civic engagement, IT and privacy regulation, open data, data scraping, data cleaning, ETL, data exploration, data analysis, data science, data visualization, APIs, software architecture, etc. It's quite difficult for us to think about every article that inspired us in so many areas. Can you hel

[2019-04-22 13:44] reznd commented on #469
Good morning. Me and my friends are doing a subject called "Projetos e
práticas de laboratório" that the focus is: make a project and write an
ARTICLE. Our project is kinda simple, but for the article we need a base
for it. Our project is get the data in the public APi  of Câmara dos
Deputados and expose it in a website to show for the people in an easy way.
So I think something about Public data,

[2019-04-22 14:45] cuducos commented on #469
As far as I can remember, the API followed the need of our data visualization and we haven't explicitly recurred to any article. Regarding data, I think [Tidy Data](https://www.jstatsoft.org/article/view/v059i10/) was crucial. Maybe non-related to this, but might be an academic source to cite Serenata: [Empowering political participation through artificial intelligence ](https://academic.oup.com/s

[2019-04-22 14:45] #469 closed

[2019-04-24 19:54] sergiomario commented on #463
The link shared by Eduardo Cuducos is working correctly.

[2019-04-24 19:54] #463 closed

[2019-04-24 20:33] sergiomario opened #470 "Jarbas has a permission problem to access google maps api"
**What is the problem?**
In the suspicious reimbursements screen, the Street View images are displaying the following message:
`“this page didn’t load google maps correctly”`
I've checked that the Google Maps API requests are returning status code 403.

**How can this be addressed?**
An alternative would be to check if the Maps API access key is expired.

[2019-04-24 22:30] cuducos commented on #470
I think this is a duplicate #441 ; )

[2019-04-25 00:05] sergiomario commented on #470
Sure. Issue closed.

[2019-04-25 00:05] #470 closed

[2019-04-26 02:07] giovanisleite commented on #465
Jarbas could have a button with a pre-written tweet like `@congressperson could you explain this expense? link to jarbas or link to rosie tweet`. The button href would be something like
twitter.com/intent/tweet?status=%40congressperson%20could%20you%20explain%20this%20expense%3F%20jarbasurl

[2019-04-26 12:58] cuducos commented on #465
I like it : )
The text could be the same used in Rosie, maybe tagging her too. There's a class at `jarbas.chamber_of_deputies.twitter` (if I'm not wrong) that could offer the text given a reimbursement by the way. Nowadays it randomly selects one, but a tweak like that would do it:

[code]

[2019-05-25 18:23] danielSbastos commented on #441
@cuducos, @turicas and @sergiomario, since there's no free tier, we could opt for an open source project. What about using Open Street Map? The drawback is that there's no street view, but we could have a workaround and just simply show the map centralized on the coordinates with a pin. It would look the mockup below:

![map-serenata](https://user-images.githubusercontent.com/21130697/58373192-a23

[2019-05-25 18:36] cuducos commented on #441
Historically this feature was added due to Google Street View. While looking for suspicions, it was a big red light to see, for example, a car rented in a venue with a store front clearly suggesting it's a bakery. I see little value in adding the map and I vote for removing any integration as such (the “Company in Maps” is still useful for user to consult Street View manually). What do you think?

[2019-05-25 19:50] danielSbastos commented on #441
I agree with the reasons you have stated for the use of the street view functionality, they make total sense. With that, having a simple map indeed does not add any value, if so, just a little.

Given the current state, where the 4 street view tiles are showing errors, maybe it's better to just remove this functionally, leaving just the "Company in Maps" button. WDYT?

[2019-05-25 20:51] ArthurSens opened #478 "Create priority field to choose which anomaly will be posted on twitter"
Today, Jarbas has a limitation of tweets he can make per day, but Rosie finds more anomalies than this limit.

The anomalies are chosen randomly and then published on twitter.

We want that the anomalies can be sorted by some type of priority and when publishing on twitter, choose the anomaly with higher priority.

In an initial stage we can calculate the average and standard deviation of expenses

[2019-05-25 22:39] cuducos commented on #441
IMHO it sounds good : )

[2019-05-25 22:48] cuducos commented on #478
I wouldn't say it's a limtation. If is there a pending tweet, it's just a matter of running `python manage.py tweet` or, to automate it, change the [`cronjob` config](https://github.com/okfn-brasil/serenata-de-amor/blob/master/contrib/crontab/crontab).

Actually, they are not that random. It tweets only tweets [from the top quartile](https://github.com/okfn-brasil/serenata-de-amor/blob/master/jarb

[2019-05-26 21:44] danielSbastos commented on #441
Alrighty, I will work on this :)

[2019-05-26 22:04] chicocvenancio commented on #441
One thing that OKBR may want to check is Google's non-profit program. It includes a maps key with access to several features.

[2019-05-27 19:45] ArthurSens commented on #478
You're saying that every recent(from 2 years ago until now) anomaly found by rosie will be tweeted? I find that quite strange, since I see only 1 or 2 tweets per day.

Yeah sure, I agree that the more recent the anomaly is, the higher priority it should have to be tweeted

Thank you for this, that's some really good ideas to prioritize tweets.
 I think it's even relevant information to add to jarb

[2019-05-27 20:05] cuducos commented on #478
No. I'm not making promises about the future. I'm only saying that changing the pace of tweets is extremely easy and we actually change it every now and then to adjust the pace to the queue ; )

[2019-05-27 22:40] ArthurSens commented on #478
Oh I see

Thanks for the clarification

[2019-05-30 23:08] danielSbastos commented on #441
@chicocvenancio, that's a great idea! I think these two ideas are complementary. Temporarily removing the street view feature until, and if, we get access from Google's non-profit program.

[2019-05-31 12:59] sergiomario commented on #465
@Lrcezimbra Can you check if PR #477 solves this issue?
![social_media](https://user-images.githubusercontent.com/2698516/58707259-bfe9b200-838a-11e9-9e11-3d77a288f5ed.png)

[2019-05-31 14:31] Lrcezimbra commented on #465
@sergiomario I think that the PR is a good improvement, but I was thinking of putting in the Jarbas frontend instead of the admin (image below). Because the page below is linked in the tweets, then putting Twitter there will make it easier to mention congressman.

![image](https://user-images.githubusercontent.com/7042915/58712172-70a97e80-8396-11e9-92e2-128089f0c2f9.png)

[2019-06-10 19:37] caiotheodoro opened #485 "Jarbas Dashboard Usability Test"
Hello!
I am a student of Computer Science at the Technological University of Paraná (UTFPR) and together with other students, we are rating the UX and UI of your site.
Based on some classification methods, we are collecting data — mainly from interviews, involving voters who have a great interest in the idea of ​​the operation Serenata de Amor — to finally make an analysis and to propose improveme

[2019-06-17 21:54] #468 closed

[2019-06-28 00:14] michaelyan-coupa commented on #188
Hello! Can someone direct me to a link containing the JSON files for the 57K meal reimbursements? Also where can I find the images corresponding to the JSON files? Thanks!!

[2019-06-28 01:28] cuducos commented on #188
@michaelyan-coupa, you can create easily create a CSV using [`serenata-toolbox`](https://github.com/okfn-brasil/serenata-toolbox) to download all reimbursements and then filtering out the ones not related to meals. We do not make tools to parse data in JSON in this project.

Yes. With data from the CSV mentioned in my lats paragraph, you can download from the source concatenating the URL as [we do

[2019-07-03 23:27] sergiomario opened #487 "Jarbas Search Filter is not working."
**What is the problem?**
Jarbas Search Filter is not working on endpoint `/dashboard/chamber_of_deputies/reimbursement/`

For example:
In the following image you can see the name of the deputy FELIPE RIGONI in reimbursements list.
![dashboard](https://user-images.githubusercontent.com/2698516/60630260-d04cdc80-9dcf-11e9-99f4-ebd0e9a58a96.png)

However, when searching for the name, by the search fi

[2019-07-04 02:00] cuducos commented on #487
Just checking: were search vectors created with `python manage.py searchvector`? They are needed for the search feature ; )

[2019-07-04 13:12] sergiomario commented on #487
This command should be in script deploy, right?

[2019-07-04 13:27] cuducos commented on #487
I don't think so.

* This is related to data (persistent data)
* Deploys, in the majority of cases, don't change persisted data
* This command might take minutes or hours to run

Thus it might slow down the deploy and give us nothing new at the end of the day. It is setup to [run on the update of persistent data though](https://github.com/okfn-brasil/serenata-de-amor/blob/55b07726a49e9ff7149b313f2

[2019-07-15 15:23] sergiomario opened #489 "Inconsistency in `meal price outlier classifier`"
**What is the problem?**
In some publications made by Rosie's Twitter, it is noted that the value identified as suspect is within the standard deviation established by the classifier.

As can be verified in the following suspicion:
[Suspicions Tweet](https://twitter.com/RosieDaSerenata/status/1148637974852177920)
[Jarbas Documebt](https://jarbas.serenata.ai/layers/#/documentId/6803319)
In this cas

[2019-07-15 16:21] cuducos commented on #489
Arguably this example does not shows what you claim it does.

**1. Average value for this venue is R$ 13**

Using Jarbas's `shell_plus` we can see they are _low_ in term of total value/price, in average each claim if for R$ 13.22:

[code]

**2. Standard deviation is R$ 6**
Also, the standard deviation is around R$ 6.66 (hey devil 😈):

[code]
**This R$ 34 happens to be above the threshold**

Thus t

[2019-07-15 16:32] cuducos commented on #489
Also we can check the (arguably) low values in Jarbas: https://jarbas.serenata.ai/dashboard/chamber_of_deputies/reimbursement/?q=05467695000130

[2019-07-15 16:35] cuducos commented on #489
What I mean is… Rosie has a good accuracy, but 100% is impossible. This example seams more a false-positive than a bug. Sure we can learn with this example and improve the classifier, let's say, to ask it to only consider venues with averages greater than a certain minimum limit ; )

[2019-08-03 10:37] viniciusartur commented on #487
I couldn't reproduce this issue by following Installing and Running Jarbas procedures at [Contributing Guide](https://github.com/okfn-brasil/serenata-de-amor/blob/master/CONTRIBUTING.md).
Could you please specify how to reproduce this issue, @sergiomario ?

[2019-08-04 19:04] sergiomario commented on #487
@viniciusartur you could not reproduce because this week I ran the `searchvector` command manually on server. That's why the search is working so far. When the base is updated, it stops working.

[2019-08-17 16:01] dehatanes commented on #121
Hello :)
I was taking a look in the github issues and noticed this one that seems pretty cool but don't have any comments since a long time ago.

I want to explore this hypothesis but I am new here and I am afraid that I missed something... do we have further work on this issue that I can find in another place and was not referenced here? (I didn't find anything in the notebooks that I saw)

[2019-09-10 04:34] liminghao1630 commented on #188
@fgrehm
Hi, I have tried the serenata-toolbox and I can download the pdf now.   But I can't find the OCR result in the json file "2018-01-05-reimbursements.csv".  There is no other related file in the file list of serenata-toolbox. Could you please tell me where can I get the OCR result of receipts?

[2019-09-10 13:05] cuducos commented on #188
@liminghao1630 the file you're looking for is [`2017-02-15-receipts-texts.xz`](https://github.com/okfn-brasil/serenata-toolbox/blob/master/serenata_toolbox/datasets/downloader.py#L43) ; )

[2019-09-15 13:09] fernandobarbalho opened #494 "Improve API documentation with information about limit and offset"
The API documentation indicates that to list all embursments you have to execute the following get command

Listing reimbursements
GET /api/chamber_of_deputies/reimbursement/
Lists all reimbursements.

althoug, when we execute this command line the API retrives only the seven first rows. It is necessary to also indicate parameters limit and offset in order to fetch through the database, as I did i

[2019-09-15 14:55] cuducos commented on #494
TLDR My take on that is that: no, it's not necessary.

The _next page_ URL (including `limit` and `offset`)  is given in the `next` (*or* `previous`, when it's available) fields of every response. So users doesn't have to do the math, just use the URL given by the API itself.

<img width="942" alt="Pasted_Image_15_09_19_10_50" src="https://user-images.githubusercontent.com/4732915/64923321-d46d810

[2019-09-15 14:59] fernandobarbalho opened #495 "Year information seems to be wrong"
I've tried to retrieve several information from the last legislature, I`ve coded a pilot to test if i was going on the right way. Bellow is the code in R.

[code]
With this code I intended to retrieve the 300 first lines form years 2015 and 2016.
These were the get command generated by the code, that were executed in the fromJSON command

[code]

The result set was not the one I expected. As it ca

[2019-09-15 15:12] fernandobarbalho commented on #494
Great. Next and previous really help a lot.

Maybe this explanation you've written could be added to the documenation.

[2019-09-15 15:47] cuducos commented on #495
This is **not** a problem, at least, not as in the sense the issue title claims: year information is **not** wrong — it is the official information provided by the Chamber of Deputies that we **do not** change. For example, [this is one of the reimbursements that might be in your set](https://www.camara.leg.br/cota-parlamentar/documento?nuDeputadoId=1299&numMes=12&numAno=2016&despesa=120&cnpjForne

[2019-09-15 16:53] fernandobarbalho commented on #495
Thanks for the answer.  I misinterpeted the variable issue_date. I thought that this was the date that the fact related to the expense ocurred, but seems that this is the date the reimbursement occured.

[2019-09-15 16:53] #495 closed

[2019-09-15 17:16] cuducos commented on #495
As far as I can remember (and it's a poor thing the Chamber took down the documentation of this dataset), `date_issued` is the date when the receipt was issued. Not necessarily the date when the expense happened, nor the date when the reimbursement took place.

[2019-10-11 03:05] luciakasman commented on #425
Hello! I would like to work on this issue :)

[2019-10-11 11:37] giovanisleite commented on #425
Hey, @luciakasman, @oleggator already did this specific task, but in #497 there is a discussion about adding more things to the celery schedule, you could do it if you want.

Thanks for the interest!

[2019-10-24 12:57] #425 closed

[2019-10-25 18:12] sks4world commented on #188
Is it possible to download these receipt images?

[2019-10-25 18:48] cuducos commented on #188
Yes. I described the process three messages above your question, @sks4world.

[2019-11-12 22:00] sergiomario opened #504 "View Monthly Spending Limits"
**What is the problem?**
According to the [Quota for the Exercise of Parliamentary Activity](https://www2.camara.leg.br/deputados/pesquisa/56a-legislatura/no-exercicio-do-mandato/cota-para-o-exercicio-da-atividade-parlamentar-ceap), parliamentarians have some monthly limits, with defined spending ceilings.

For example:
`IX - combustíveis e lubrificantes, até o limite inacumulável de R$ 6.000,00 (

[2019-11-12 22:22] cuducos commented on #504
This might be more difficult than it seams

**The problem number one** is that congresspeople can transfer part of their quota to leaderships in the house (Ato de mesa 43/2009, Art. 14, § 1º). [As far as we interrogated the Chamber a few months/years ago, this was not a piece of information made accessible via active transparency](https://github.com/okfn-brasil/serenata-de-amor/files/3838485/Respo

[2019-11-12 23:09] endersonmenezes commented on #504
I am now inquiring about necessary procedures, but we cannot question them via https://github.com/CamaraDosDeputados/dados-abertos/issues, to know if there is any provision to tech this process?

[2019-11-12 23:35] endersonmenezes commented on #388
According to (Django Rest Framework Slow)[https://hakibenita.com/django-rest-framework-slow] the DRF serializer may in many cases not be the most productive choice, I believe we can mount a study to improve the display of serialized data in apis.

[2019-11-19 00:58] apast commented on #504
It is possible to show additional information related **current expense**.

Considering the already collected expenses values for the whole Party.

It is possible to show some additional rates and values related to current expense:

- % correspondence of the expense from total Party correspondence;
- rate: Total expenses of one congressperson / Total expenses of Party;
- rate: Current Expense / Av

[2019-11-19 01:07] cuducos commented on #504
I think these explorations might be really interesting. I do believe it!

However I don't think implementing them directly in the UI is the best way to move forward.  In Linus style, I'd say _talk is cheap, show me the data_ —  we could draft some analysis using the real datasets in a [notebook](https://github.com/okfn-brasil/notebooks), for example, to have a better idea of what these indicators

[2019-11-19 01:27] apast commented on #504
Sure! Makes a lot of sense.
How can I analyze this on my local environment? There is some how to to
start?
Or, there is some public notebook for this?

On Mon, Nov 18, 2019 at 10:08 PM Eduardo Cuducos <notifications@github.com>
wrote:

[2019-11-19 01:55] cuducos commented on #504
start?

Have you checked the repo I linked in the previous message? I think it, together with the [toolbox](https://github.com/okfn-brasil/serenata-toolbox) are the best way to get started ; )

[2019-11-20 19:39] luizfzs opened #505 "Reimbursement details CNPJ and Fornecedor doesn't match"
**What is the problem?**
While checking some reimbursement requests, I noticed that on the [details page](https://jarbas.serenata.ai/dashboard/chamber_of_deputies/reimbursement/37968096/change/?_changelist_filters=p%3D1%26q%3DEDUARDO%2BBOLSONARO) the CNPJ matches with the receipt but the 'Fornecedor' doesn't.

**How can this be addressed?**
There might be an issue on the code that handles the pars

[2019-11-20 19:51] cuducos commented on #505
Thanks for opening the issue, @luizfzs, but Serenata does not edit data and this error is not related to our stack. You can verify the system of the Chamber of Deputies holds (and publicize) that inconsistency: https://www.camara.leg.br/cota-parlamentar/documento?nuDeputadoId=2907&numMes=4&numAno=2019&despesa=14&cnpjFornecedor=31297457000133&idDocumento=4743

You can report the matter to them, tho

[2019-11-20 19:53] #505 closed

[2019-11-20 19:55] luizfzs commented on #505
Thank you for pointing that out. I'll report it and get back when (and if) they reply.

[2019-12-12 14:08] luizfzs commented on #505
So, here's the response:

I can see now that the information is correct on their website. I just checked the info on Jarbas and the info is not in sync. You may need to update it.

[2019-12-12 15:10] cuducos commented on #505
Great, many thanks, @luizfzs! I'm not sure when the data was updated in their services, but AFAIK [Jarbas is updated every week at Monday 1am](https://github.com/okfn-brasil/serenata-de-amor/blob/ce10d2b23e2ea375e1e51919e3dcf3ae7db3f861/contrib/crontab/crontab#L5)

I'm cc-ing @sergiomario because I think he's the one with access to the server to check that.

[2019-12-16 23:23] sergiomario opened #506 "The meal_price_outlier_classifier classifier is broken"
**What is the problem?**
There is an error executing the script `pipenv run ansible-playbook update.yml`.
This script runs weekly to update the *Câmara dos Deputados* data and classify suspicious invoices. As defined in the [data update procedure](https://github.com/okfn-brasil/serenata-de-amor/tree/master/contrib/update).
![erro_rosie](https://user-images.githubusercontent.com/2698516/70950658-01

[2019-12-16 23:28] sergiomario commented on #505
Hi @cuducos and @luizfzs :-)

I investigated the weekly crons and really noticed an error in the weekly update, which hadn't occurred in months.

That way, I opened issue #506 with the error that is occurring in the Rosie classifier.

[2019-12-17 14:12] cuducos commented on #506
In the Chamber of Deputies [adapter, we only enforce a couple of fields to be read as strings](https://github.com/okfn-brasil/serenata-de-amor/blob/55b07726a49e9ff7149b313f2c13d6199ab2f4a2/rosie/rosie/chamber_of_deputies/adapter.py#L25-L30):

[code]

Probably because in most cases Pandas would read the column `recipient` as strings as well. The error suggests it doesn't (the _traceback_ leads to a

[2019-12-17 15:54] luizfzs commented on #506
I wanted to give it a try fixing this problem but I'm having a hard time to start Rosie, since it requires a lot of memory. I'll keep working on get it running tonight, but don't hesitate (anyone) on working on this issue too, since it might take some time for me to get it running.

[2019-12-18 03:48] luizfzs commented on #506
I was able to make Rosie work on my machine with some Macgyver.
I'm able to reproduce the issue using only the reimbursements from 2019. I followed @cuducos approach to enforce the `dtype` for `supplier` on the `adapter`, still to no avail.
Since the issue is happening on `meal_price_outlier_classifier.py`, I added a `print` command to `__normalize_string` so it prints the value when **it's not a

[2019-12-18 10:58] cuducos commented on #506
You nailed (even without knowing it): [`np.nan` is a float](https://docs.scipy.org/doc/numpy-1.13.0/user/misc.html) indeed!

[2019-12-30 14:21] #506 closed

[2019-12-31 16:46] luizfzs opened #508 "Crosscheck CNPJ/Supplier with the information on the Reimbursement request"
**What is the problem?**
Sometimes, the Chamber of Deputies fills reimbursement information incorrectly (as it can be seen on issue #505)

**How can this be addressed?**
It can be addressed by cross-checking the CNPJ provided by the reimbursement request the information from the '2016-09-03-companies.xz' dataset.

The end goal would be to have it as a classifier for Rosie to post incorrect informa

[2019-12-31 16:49] luizfzs opened #509 "Update the companies dataset"
**What is the problem?**
The companies dataset seems somewhat old (from 2016-09-03).

**How can this be addressed?**
The idea is to get information from http://receita.economia.gov.br/orientacao/tributaria/cadastros/cadastro-nacional-de-pessoas-juridicas-cnpj/dados-publicos-cnpj , parse it and use it as the source of information. The processed data can be used to update the '2016-09-03-companies.x

[2019-12-31 16:58] cuducos commented on #509
Great! I'm working on that on https://github.com/okfn-brasil/serenata-toolbox/pull/218 BTW

Anyone feel free to jump in and take it from where I've left ; )

[2019-12-31 17:01] cuducos commented on #508
If I got it right, I'm against it.

For sake of transparency and neutrality, we should not **correct** official data. They are _official_ for a reason, right? We might create a classifier to mark them as suspicion (because official data from the Chamber does not match official data from the Federal Revenue, for example), but I don't believe it adds up to our transparency principles to judge who's

[2019-12-31 17:05] cuducos commented on #508
Sorry! I re-read the issue and realized my previous (now deleted) comment was bullshit (that's why I deleted) hahaha… sorry about the noise!

[2020-01-02 20:10] luizfzs commented on #487
Sorry for reviving this thread. Is `searchvector` command still being executed manually?
If Rosie is the one that updates that data, it makes sense to run `searchvector` after Rosie finishes running, right?

[2020-01-02 20:14] luizfzs commented on #465
PR #477 has been merged. Should this issue be closed?

[2020-01-03 13:37] Lrcezimbra commented on #465
@luizfzs

[2020-01-03 21:01] cuducos opened #511 "New classifier for alcoholic beverages"
**What is the problem?**

The problem _was_ that digitized receipts were not machine-readable and we could not afford to properly run OCR in all images we had ([although we've tried](https://github.com/okfn-brasil/serenata-de-amor/issues?utf8=%E2%9C%93&q=is%3Aissue+ocr)). However, a couple of months ago the Chamber of Deputies started to offer eletronic receipts.

Since we know their URL (thanks @

[2020-01-05 00:07] luizfzs opened #512 "It's not clear weather the politician was reimbursed or not"
**What is the problem?**
On Jarbas '[Reembolsos](https://jarbas.serenata.ai/dashboard/chamber_of_deputies/reimbursement/?) dashboard, it's not clear which reimbursement requests were actually reimbursed.
I'm assuming that every entry on Jarbas is a reimbursement request, not an actual reimbursement.

**How can this be addressed?**
A new column can be added to either the Dashboard and the reimburse

[2020-01-05 13:43] cuducos commented on #512
I'm afraid this is not the case. The Chamber of Deputies _only_ release data about reimbursement (actually reimbursed), not about reimbursement claims.

[2020-01-05 15:43] luizfzs commented on #512
I didn't know it that was the case as not. Since it is, this issue is invalid.

[2020-01-05 15:43] #512 closed

[2020-01-12 12:55] eerison opened #513 "Sub Quota"
Where do you get this information?

column:  `SUBQUOTA`
value: `Fornecimento de alimentação do parlamentar`
endpoint: `https://jarbas.serenata.ai/dashboard/chamber_of_deputies/reimbursement`

[2020-01-12 14:47] cuducos commented on #513
Our [`README.md` says our data comes from `serenata-toolbox`](https://github.com/okfn-brasil/serenata-de-amor#when-1). There you can see [the URL of the datasets at the source](https://github.com/okfn-brasil/serenata-toolbox/blob/f55ea13ea083b74ddff112a4caa098287d555c9d/serenata_toolbox/chamber_of_deputies/reimbursements.py#L7). If you open any of these datasets, this information will be there.

A

[2020-01-12 14:47] #513 closed

[2020-01-14 15:21] cuducos opened #514 "Use monetary adjustment to try a better accuracy in meal outlier classifier"
**What is the problem?**

_Maybe_ we can get better accuracy in the meal outlier classifier (as far as I can remember, the only one in which the value of the reimbursement is relevant) by adjusting the prices overtime to the inflation.

**How can this be addressed?**

There's [a package that can easily do that (using IPCA at this point)](https://github.com/cuducos/calculadora-do-cidadao), probably

[2020-01-15 16:08] cuducos commented on #509
The new dataset from https://github.com/okfn-brasil/serenata-toolbox/pull/218 has a slightly different set of columns. This helps us draw a roadmap for this issue. My suggestion is:

- [ ] Analyze the current `Company` model and okfn-brasil/serenata-toolbox#218's CSV to identify what fields need to be changed, deleted from or added to the model
- [ ] Ponder on the possibility of storing activities

[2020-02-07 13:17] cuducos opened #516 "New classifier: generalized item description"
**What is the problem?**

Following CEAP rules (Ato de Mesa 43/2009, Art. 4º, § 3º), it is not allowed for congresspeople to _generalize_ description of items in the official receipt. We have seen tons of cases since the beginning of the project and we even [wrote about it](https://medium.com/serenata/quase-tudo-o-que-voc%C3%AA-precisa-saber-sobre-a-ceap-676b900c3dac).

However, at that time all r

[2020-03-02 02:45] imadcat commented on #188
Could you or anyone please make that raw cloud vision JSON api responses available for download again? I have tried `datasets.downloader.download('2017-02-15-receipts-texts-raw.tar.xz')` method from `serenata_toolbox.datasets` but the resource is no longer there.

[2020-03-02 02:50] imadcat opened #518 "The dataset 2017-02-15-receipts-texts-raw.tar.xz: Raw Cloud Vision API responses is no longer downloadable."
`
from serenata_toolbox.datasets import Datasets
datasets = Datasets('./')
datasets.downloader.download('2017-02-15-receipts-texts-raw.tar.xz')
`

Could anyone make it available again?

[2020-03-03 14:16] cuducos opened #519 "Missing electronic receipt filter in Jarbas UI"
**What is the problem?**

We [have reimbursements with electronic receipts](https://jarbas.serenata.ai/dashboard/chamber_of_deputies/reimbursement/?document_type=4), but this filter is not visible for the user in Jarbas UI:

![image](https://user-images.githubusercontent.com/4732915/75783920-a6362a80-5d61-11ea-8f29-5fefb83e90ad.png)

**How can this be addressed?**

We need to add the option at the

[2020-03-07 23:53] myreli commented on #46
Have you considered Keybase?

[2020-03-31 16:35] 0regard opened #521 "Design and development of the situation beem weapons and development of ship Eco sestoum fist and control over"
This template is here to help you to write your issue ;)

**What is the problem?**
Try to give as many details about the bug/new feature/enhancement as possible,
but keep it friendly for new comers

**How can this be addressed?**
New comers might need help on how to approach or build a solution, maybe a
step-by-step on how to address the issue can help

**Who could help with this issue?**
We know

[2020-03-31 16:38] 0regard commented on #521
![15856725888761748128651971022345](https://user-images.githubusercontent.com/62855008/78051979-b3800e00-733b-11ea-8c35-dd4710c253d9.jpg)

[2020-04-24 08:35] willianpaixao commented on #514
Hi @cuducos,
honest question, how far back in the past are we analyzing data? Does inflation would make a noticeable difference in a spam of of less than five years?

And yes, an library like you mentioned would give the most accurate correction, but a simple table defining accumulated inflation for quarters (or even semesters) would already improve accuracy. Maybe it's a good first test.

[2020-04-24 12:16] cuducos commented on #514
Data goes back to 2009.

In five year the imapct was 26% (according to IPCA), 34% (according to IGPM) or 56% (according to SELIC). Not sure which one better serves this purpose, but given the nature of the expenses, I would guess IPCA (but it is still merely a guess).

<details>

[code]
</details>

IMHO opinion, given this library already exists (see nested example above), it will mean more work t

[2020-04-27 14:22] cuducos commented on #519
Closed by #523

[2020-04-27 14:22] #519 closed

[2020-04-27 14:25] cuducos commented on #521
Reported as #spam.

[2020-04-27 14:25] #521 closed

[2020-07-08 13:01] GTMelo opened #529 "Ministry of Economy's open consultation regarding Open Data (ends next july 15th)"
The Ministry of Economy has an open consultation regarding their open data plan for 2020-2021. Their sets could be used to broaden the project's data pools. For example, it could be used if we needed to cross-reference data to identify an individual's involvement with a program or project, track their daily expenses while under said project, etc .

The Ministry is also often used as a reference by

[2020-08-04 23:19] dehatanes commented on #121
I forgot to mention here, but I started to look into this issue in this repository, if anyone is interested 😄  https://github.com/dehatanes/CEAP-reimbursement-analysis

I am leaving this comment here because I intend to upload the notebook in the serenata's repository in the future, but I am afraid I will not have much time to work with it in a short run, so it may take a while until I format the

[2020-08-28 21:21] coelhudo opened #532 "Installation using requirements.txt without Anaconda fails"
**What is the problem?**

Just invoking `pip install -r requirements.txt` doesn't work in an environment without Anaconda.

For example, scikit-learn or pandas are not part of the dependencies listed.

Since not everyone uses Anaconda, offering another option could improve the project.

**How can this be addressed?**

An alternative file, that uses the requirements.txt file as dependency, could be

[2020-10-06 16:52] DevLokCodes commented on #15
Sorry if I am late to the party, but I was thinking if we had to look into their social media presence, we could track when that account was created and what other accounts (high chances of them being relatives) where added, friended or joined with , I think its our tendency to add to join people from the family circle and closest people first (so there would be higher chances of finding relatives

[2020-10-07 07:51] abhinand5 commented on #532
A pip version of the requirements file was added here #536

[2020-10-07 11:38] cuducos commented on #532
In my opinion this is not an issue at all. The project was not design to work like that (with bare `pip`) for a reason: reduce first-time contributors barriers.

I also highlight what I commented in the related PR:

[2020-10-10 03:24] coelhudo commented on #532
I decided to generate the requirements file since Python already provides the package and environment management.

I understand the reason why conda was chosen as a way to deal with the dependencies. The idea was to provide an alternative for people that don't want to install conda, at the same time keeping conda as the primary way to manage all the dependencies without affecting first-time contri

[2020-10-10 03:24] #532 closed

[2020-11-18 14:03] jecogeo opened #539 "[Suggestion] Please, port Rosie to Mastodon!"
I understand that Twitter is a mainstream social news aggregator/microblog. However many people (including me) don't use twitter or facebook and prefer plataforms as Mastodon or Friendica. I know (superficially), as an option, that is possible to create a bridge from twitter to Mastodon, besides of alternatively having Rosie directly on Mastodon.

I and many Brazilian fellows would love to have Ro

[2020-12-01 13:12] iammultiman commented on #463
Ask the admin to check Removed Users under Permissions. If your username is there, it should be cleared since such users cannot join via an invite link. Or ask the admin to add your username to the Add Exception list under Permissions.

[2020-12-14 13:06] GuillViegas commented on #539
I’ve never heard about these platforms, but I'm agree with you that maybe it's a good idea to explore this. How about get the number of users on these others platforms first?

[2020-12-14 14:13] cuducos commented on #539
Just a brief reminder of the [_why_ Rosie's got a Twitter account](https://medium.com/data-science-brigade/rosie-no-twitter-o-momento-mais-transparente-de-um-projeto-sobre-transpar%C3%AAncia-13d54cac9ea4). I think we need to revisit these rational to check what bits still valid, what new needs we have, and then ponder on the pros and cons of investing time to port Rosie somewhere else. Without thi

[2021-03-11 09:24] brevvi opened #546 "Review"
Review code to adequate to PEP8

[2021-03-11 09:26] brevvi opened #547 "Base 2020"
Indentify how to access the base Senate 202 from Rosie

[2021-03-27 18:49] sfksuperman commented on #463
For me it's not working. I freshly installed new rom and new app (7.6.0.1 17550). And invite links are saying it's expired (screenshot provided).
I tried the above link you shared in this chat and it's expired too.

[2021-04-04 15:23] gpr-indevelopment opened #549 "Internal server error on reimbursement API for some IDs"
This template is here to help you to write your issue ;)

**What is the problem?**
I found that some document IDs trigger an internal server error (status 500) from Jarbas' reimbursement API. For example, the following request returns 500 for ID 1681601:

[code]

The same happens for IDs: 1633216, 1681597, 1681598, 1681600, 1681599. These are valid document codes from [the chamber of deputies data

[2021-04-04 20:29] gpr-indevelopment opened #550 "Reimbursement API does not return the ID used on the web application"
**What is the problem?**
The reimbursement with document code 7121351 can be requested on Jarbas API. On the website, the URI for the same reimbursement has ID 199642900. The problem is: For someone using the API, there is no way to know how to access the reimbursement details for document code 7121351 on Jarbas' website since it does not return the ID 199642900.

[code]

**How can this be address

[2021-04-13 23:01] jvanz opened #551 "Prepare the Serenate apps to be deployable in a Kubernetes cluster"
This template is here to help you to write your issue ;)

As the Serenata run in the same infrastructure used by the Querido Diario project we need to converge both projects to use the same underlying infrastructure. There is an ongoing process of migrating the Querido Diario workload to run on top of a Kubernetes cluster. So, we need to adapt the Serenata app to be deployable in the cluster as we

[2021-04-13 23:02] jvanz commented on #551
@andreformento is working on this.

[2021-04-13 23:06] jvanz commented on #551
@sergiomario can you assign the issue to @andreformento? I cannot do it.

[2021-04-13 23:09] jvanz opened #552 "Migrate Serenata database for a managed database solution"
As the Serenata run in the same infrastructure used by the Querido Diario project we need to converge both projects to use the same underlying infrastructure. The Querido Diario project is moving away from the PostgreSQL running in a droplet and moving to a self-managed solution in the Digital Ocean. It will continue to use PostgewSQL but we will not manage the server. As the PostgreSQL server is

[2021-04-14 21:27] sergiomario commented on #551
@jvanz I also can't sign the issue for him until he makes a comment here on the thread. Github has this rule.
@andreformento Can you make a comment here?

[2021-05-01 14:01] andreformento commented on #551
sorry for delay @jvanz @sergiomario

[2021-06-29 08:32] leao-nardo opened #556 "rosie is not posting on twitter"
[twitter]
https://twitter.com/RosieDaSerenata

i just found the project , but i looked in twitter that the last post from rosie is from march 3 . is the project still running ?

or the politicians are well behaving and rosie didnt found a suspicious note since march ?

[2021-07-19 18:24] Leonardofreua opened #558 "Is the project still alive?"
I noticed that the project hasn't received new commits since July of last year and Rosie's Twitter also seems to be out of date.

I'm asking because I'm interested in contributing withto the project.

[2021-08-23 23:31] giuliocc opened #560 "Rosie stops mid-classification due to MemoryError in a 32gb ram machine"
Rosie stopped tweeting a while back and that was the reason.

In the last weeks @andreformento diagnosed this locally and we tested it in the production infrastructure.

Here's the full traceback for executing `python3 rosie.py run chamber_of_deputies` in a common 8 vcpus 32gb ram Digital Ocean's Droplet:
[code]

Due to this, the pipeline doesn't propagate further and Jarbas isn't updated. Therefo

[2021-08-23 23:41] giuliocc commented on #558
Hi @Leonardofreua ! Sorry for the long delay in this response.

It was a mix of stuff that made it stale for a while. But now Rosie is tweeting again! (check #560 #561)

Thanks for the interest! Is there anything I could help?

[2021-08-24 00:23] Leonardofreua commented on #558
Hi @giuliocc, thanks for the feedback. There is nothing specific I would need to help with. In fact, my interest in the project is because I would like really to contribute to it.

If the possibility of submitting contributions is open, I'll be happy to start.

[2021-08-28 17:54] andreformento commented on #560
I created this PR https://github.com/okfn-brasil/serenata-de-amor/pull/562 to help to run using only last years :eyes:
I know that is not a optimization, but it create a possibility to run with less resources

[2021-10-24 13:58] engFelipeMonteiro opened #566 "The trello link is 404"
This template is here to help you to write your issue ;)

**What is the problem?**
The link for trello in contributing documentation is not found

**How can this be addressed?**
New contributors

**Who could help with this issue?**
The main colaborators

[2022-02-06 14:06] dotsinspace commented on #188
how can i download this dataset..all recites in pdf format ?

[2022-03-12 09:13] #478 closed

[2022-07-14 14:41] jedibruno opened #575 "Creating a Telegram Bot for the project - Criar um bot de telegram para o projeto"
**Contexto**
- Uma das possíveis razões para o sucesso da Operação foi a facilidade de difusão dos achados pelo Twitter. Para além dele, existem outras redes que podem ser utilizadas para difundir achados, como o Telegram, Whatsapp e outras.
- One of the possible reasons for the Operation success was the seamless distribution of findings through/by Twitter. Beyond it, there are other social medias

[2022-07-14 22:03] danilo-favoratti commented on #575
Ainda não lançamento oficialmente, mas a OPS fez um BOT de notas fiscais no Twitter.

https://twitter.com/NFiscais

Se pudermos ajudar em algo, nos avise :)

[2022-09-14 18:28] silotto opened #576 "Revisão do readme.md"
### Esta edição faz parte do processo de revisão da Laboratoria Code Squads novembro 2020 da iniciativa Code for Development de @EL-BID

## Problema de revisão de documentação - readme.md:

Tendo contrastado as informações apresentadas no repositório oficial com os campos solicitados no modelo de [readme.md](https://github.com/EL-BID/Temptilla-de-repositorio/blob/master/README.md) encontraram os s

[2022-10-31 08:38] eerison opened #577 "[bug] Pipeline is failing"
I can see in the pipelines that is not working! should we switch to github actions?